{%- case component.type -%}
  {%- when 'linkonly' -%}
    <li aria-expanded="false" aria-haspopup="true" class="navigation__menuitem tw-h-[60px] navigation__menuitem--dropdown js-doubletap-to-go js-aria-expand {{
                                            link.title
                                          }}" data-active-class="navigation__menuitem--active" role="none">
      <a class="js-menu-link js-open-dropdown-on-key tw-uppercase tw-h-full tw-flex tw-items-center" href="{{ link.url }}">{{ heading }}</a>
    </li>
  {%- else -%}
    {% assign items = menu_items | split: ',' %}
    <li aria-expanded="false" aria-haspopup="true" class="navigation__menuitem tw-h-[60px]  tw-group navigation__menuitem--dropdown js-doubletap-to-go js-aria-expand {{
                                              link.title
                                            }}" data-active-class="navigation__menuitem--active" role="none">
                                            <div class=" tw-h-[57px] tw-flex tw-items-center tw-gap-2">
                                              <a class="tw-uppercase" href="{{ component.settings.url }}">
                                                {{ component.settings.menu_heading }}
                                              </a>
                                              <svg class="tw-rotate-90  tw-text-[12px] tw-mt-1" fill="currentColor" height="1em" stroke-width="0.2px" stroke="currentColor" viewBox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" fill-rule="evenodd"></path>
                                              </svg>
                                            </div>
      <div class="tw-bg-white tw-z-[-1] tw-leading-loose tw-absolute tw-shadow tw-left-0 tw-right-0 tw-opacity-0 group-hover:tw-opacity-100 tw-border-b tw-border-opacity-50 tw-pointer-events-none group-hover:tw-pointer-events-auto tw-py-10 tw-duration-500 tw-transition-[opacity,margin] tw-invisible group-hover:tw-visible tw--mt-6 group-hover:tw-mt-0">
        <div class="{%- render '[class]-container' class: '' -%}tw-flex tw-gap-6 tw-justify-center">
          {% if component.settings.nav_image != blank %}
            <span class="tw-px-[10px] tw-py-[8px] tw-order-2 tw-w-1/3 tw-flex-shrink-0">
              {%- assign image_size = '300x' -%}
              <a href="{{ component.settings.promo_url }}">
                <div class="megamenu__imagecontainer">
                  <img class="tw-w-full" src="{{ component.settings.nav_image | img_url: image_size }}"/>
                </div>
                <noscript>
                  <img class="tw-w-full" src="{{ component.settings.nav_image | img_url: image_size }}" class="navigation-image"/>
                </noscript>
              </a>
              <div class="w-text-[22px] tw-leading-[32px] tw-mt-[30px]">
                <span class="tw-font-heading tw-text-[#dba62b] tw-font-bold">Up to 50% off
                </span>
                <span class="tw-font-heading tw-font-bold tw-text-black">Express
                </span>
                <span class="">Delivery</span>
              </div>
              <a class="tw-text-gray-400 tw-underline tw-underline-offset-2" href="">
                {{component.settings.link_text}}</a>
            </span>
          {% endif %}
          {% if component.settings.nav_image_secound != blank %}
            <span class="tw-px-[10px] tw-py-[8px] tw-order-2 tw-w-1/3 tw-flex-shrink-0">
              {%- assign image_size = '300x' -%}
              <a href="{{ component.settings.promo_url_secound }}">
                <div class="megamenu__imagecontainer">
                  <img class="tw-w-full" src="{{ component.settings.nav_image_secound | img_url: image_size }}"/>
                </div>
                <noscript>
                  <img class="tw-w-full" src="{{ component.settings.nav_image_secound | img_url: image_size }}" class="navigation-image"/>
                </noscript>
              </a>
              <div class="w-text-[22px] tw-leading-[32px] tw-mt-[30px]">
                <span class="tw-font-heading tw-text-[#dba62b] tw-font-bold">Up to 50% off
                </span>
                <span class="tw-font-heading tw-font-bold tw-text-black">Express
                </span>
                <span class="">Delivery</span>
              </div>
              <a class="tw-text-gray-400 tw-underline tw-underline-offset-2" href="">
                {{component.settings.link_text}}</a>
            </span>
          {% endif %}
          {% assign gridcss = 'tw-grid-cols-2' %}
          {% case component.settings.columns_number  %}
            {% when 1 %}
              {% assign gridcss = 'tw-grid-cols-1' %}
            {% when 2 %}
              {% assign gridcss = 'tw-grid-cols-2' %}
            {% when 3 %}
              {% assign gridcss = 'tw-grid-cols-2 lg:tw-grid-cols-3' %}
            {% when 4 %}
              {% assign gridcss = 'tw-grid-cols-2 md:tw-grid-cols-3 lg:tw-grid-cols-4' %}
            {% when 5 %}
              {% assign gridcss = 'tw-grid-cols-2  md:tw-grid-cols-3 lg:tw-grid-cols-5' %}
          {% endcase %}
          <ul class="tw-grid {{ gridcss }} tw-list-none tw-justify-center tw-content-center">
            {% for item in items %}
              {% assign handlizedItem = item | handleize %}
              {% assign collection = collections[handlizedItem] %}
              {% if collection and collection.products.size > 0  %}
                <li class="tw-py-1 tw-leading-snug tw-w-[300px] tw-px-[25px] tw-min-h-[33px]">
                  <a class="" href="/collections/{{ item | handleize }}">{{ item }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
{%- endcase -%}