<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="CartTemplate" type="text/template">

  {% raw %}
    <form action="{% endraw %}{{ routes.cart_url }}{% raw %}" method="post" novalidate class="cart ajaxcart">
      <div class="ajaxcart__inner">
        {{#items}}
        <div class="ajaxcart__product tw-mb-6">
          <div class="tw-flex ajaxcart tw-gap-3" data-line="{{line}}">

            <div class="grid__item desktop-5 tablet-2 mobile-3 item_img tw-w-1/3 tw-relative tw-flex-shrink-0">
                <a href="{{url}}" class="ajaxcart__product-image ">
                  <img class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-object-contain" src="{{img}}" alt=""></a>
                </a>
            </div>

              <div class="tw-flex-1">
                <div class="item_dtl tw-text-right">
                  <p>
                    <a href="{{url}}" class="ajaxcart__product-name"><b>{{name}}</b></a>
                    {{#if variation}}
                      <p class="ajaxcart__product-meta">{{variation}}</p>
                    {{/if}}
                    {{#if sellingPlanAllocation}}
                     <p>{{ sellingPlanAllocationName }}</p>
                    {{/if}}
                    {{#properties}}
                      {{#each this}}
                        {{#if this}}
                          <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                        {{/if}}
                      {{/each}}
                    {{/properties}}
                    {% endraw %}{% if settings.cart_vendor_enable %}{% raw %}
                      <span class="ajaxcart__product-meta">{{ vendor }}</span>
                    {% endraw %}{% endif %}{% raw %}
                  </p>
                  <div class="pricing">
                    <h5>
                      {{#if discountsApplied}}
                          <span class="visually-hidden">{% endraw %}{{ 'products.general.sale_price' | t }}{% raw %}</span>
                          <span class="ajaxcart__price onsale money">{{{discountedPrice}}}</span>
                          <span class="visually-hidden">{% endraw %}{{ 'products.general.regular_price' | t }}{% raw %}</span>
                          <del class="ajaxcart__price">{{{price}}}</del>
                        {{else}}
                          <span class="ajaxcart__price money">{{{price}}}</span>
                        {{/if}}
                        <span {{#unless unitPriceMeasurement}}class="hide"{{/unless}} data-unit-price-group>
                          <dt>
                            <span class="visually-hidden visually-hidden--inline">{% endraw %}{{ 'products.product.unit_price_label' | t }}{% raw %}</span>
                          </dt>
                          <dd>
                            <span class="price-unit-price">
                              <span data-unit-price>{{unitPrice}}</span>
                              <span aria-hidden="true">/</span><span class="visually-hidden">{% endraw %}{{ 'general.accessibility.unit_price_separator' | t }}{% raw %}&nbsp;</span>
                              <span data-unit-price-base-unit>
                                {{#if showUnitReferenceValue}}
                                {{unitReferenceValue}}
                                {{/if}}
                                {{unitPriceBaseUnit}}
                              </span>
                            </span>
                          </dd>
                        </span>
                    </h5>

                    {{#if discountsApplied}}
                      {{#each discounts}}
                        <h5 class="onsale"><i class="la la-tag"></i> {{ this.discount_application.title }} (-{{{ this.formattedAmount }}})</h5>
                      {{/each}}
                    {{/if}}
                  </div>
                </div>
                <div class="ajaxcart__qty tw-float-right">
                  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="{{id}}" data-qty="{{itemMinus}}" data-line="{{line}}">
                    <span>&minus;</span>
                  </button>
                  <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="{{id}}" data-line="{{line}}" data-qty="{{itemAdd}}">
                    <span>+</span>
                  </button>
                </div>
              </div>

          </div>
        </div>
        {{/items}}

        <div class="rte-accordion tw-mt-6">
          {% endraw %}{% if settings.show_cart_notes %}{% raw %}
            <div id="cart-notes" class="item">
              <input class="trigger" id="item-one" type="checkbox" name="items" />
              <label class="accordion-label" for="item-one"><span class="item-heading">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</span></label>
              <div class="item-content">
                <textarea name="note" id="note" rows="5" cols="60">{{note}}</textarea>
              </div>
            </div>
          {% endraw %}{% endif %}{% raw %}
        </div>

      </div>
      <div class="ajaxcart__footer tw-pt-3 tw-border-t">
        <div class="subtotal">
          <p class="title">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</p>
          <p class="subtotal-price"><span class="cart-original-total money">{{{subTotalPrice}}}</span></p>
        </div>
        {% endraw %}{%- if settings.show_tax_note -%}{% raw %}
          <div class="tax">
            <p class="title">{% endraw %}{{ 'cart.general.tax' | t }}{% raw %}</p>
            <p class="value">{% endraw %}{{ 'cart.general.at_checkout' | t }}{% raw %}</p>
          </div>
        {% endraw %}{%- endif -%}{% raw %}
        {% endraw %}{%- if settings.show_shipping_note -%}{% raw %}
          <div class="shipping">
            <p class="title">{% endraw %}{{ 'cart.general.shipping' | t }}{% raw %}</p>
            <p class="value">{% endraw %}{{ 'cart.general.at_checkout' | t }}{% raw %}</p>
          </div>
        {% endraw %}{%- endif -%}{% raw %}
        <div class="discounts">
          {{#if cartDiscountsApplied}}
            <p>{% endraw %}{{ 'cart.general.discounts' | t }}{% raw %}</p>
            <ul>
             {{#each cartDiscounts}}
                <li><i class="la la-tag"></i> (-{{{ this.formattedAmount }}})</li>
             {{/each}}
            </ul>
           {{/if}}
           {{#if cartTotalSavings}}
             <div class="cart_savings onsale">
               <p><em>{% endraw %}{{ 'cart.general.savings' | t }}{% raw %}</em></p>
               <p class="cart-savings-amount"><em>{{cartTotalDiscounts}}</em></p>
             </div>
           {{/if}}
        </div>
        <div class="total">
          <h3 class="title">{% endraw %}{{ 'cart.general.total' | t }}{% raw %}</h3>
          <h3 class="total-price"><span class="cart-original-total money">{{totalPrice}}</span>
          <span class="cart-total"></span></h3>
        </div>

        <button type="submit" class="cart__checkout tw-bg-black tw-text-white" name="checkout">
          {% endraw %}{{ 'cart.general.checkout' | t }}{% raw %} &rarr;
        </button>
        {% endraw %}
     
        {% raw %}
      </div>
    </form>
  {% endraw %}
  </script>
  <script id="AjaxQty" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{id}}" data-qty="{{itemMinus}}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text">&minus;</span>
      </button>
      <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{id}}" data-qty="{{itemAdd}}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text">+</span>
      </button>
    </div>
  {% endraw %}
  </script>
  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus quantity-increment" data-id="{{id}}" data-qty="{{itemMinus}}">
        <span>&minus;</span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}" >
      <button type="button" class="js-qty__adjust js-qty__adjust--plus quantity-increment" data-id="{{id}}" data-qty="{{itemAdd}}">
        <span>+</span>
      </button>
    </div>
  {% endraw %}
  </script>
