{% if settings.breadcrumb %}
  <div id="breadcrumb" >
    <div class="{% render '[class]-container'  class: '' %} tw-text-center lg:tw-text-left">
    <a href="{{ routes.root_url }}" class="homepage-link" title="{{ 'general.breadcrumbs.home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
    {% if template contains "product" %}
    {% if collection %}
    <span class="separator"><i class="la la-angle-right" aria-hidden="true"></i></span>
    {% if collection.handle %}
    {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
    {{ collection.title | link_to: url }}
    {% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}
    {{ collection.title | link_to_type }}
    {% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}
    {{ collection.title | link_to_vendor }}
    {% endif %}
    {% else %}
   
      
    {% endif %}
    <span class="separator"><i class="la la-angle-right" aria-hidden="true"></i></span>
    <span class="page-title">{{ product.title }}</span>
    {% elsif template == "article" %}
    <span class="separator"><i class="la la-angle-right" aria-hidden="true"></i></span>
    {{ blog.title | link_to: blog.url }}
    <span class="separator"><i class="la la-angle-right" aria-hidden="true"></i></span>
    <span class="page-title">{{ page_title }}</span>
    {% elsif template contains "collection" %}
    {% if current_tags.size > 0 %}
    <span class="separator"><i class="la la-angle-right" aria-hidden="true"></i></span>
    {{ collection.title | link_to: collection.url }}
    <span class="separator"><i class="la la-angle-right" aria-hidden="true"></i></span>
    <span class="page-title">{{ current_tags.first }}</span>
    {% else %}
    <span class="separator"><i class="la la-angle-right" aria-hidden="true"></i></span>
    <span class="page-title">{{ page_title }}</span>
    {% endif %}
    {% else %}
    <span class="separator"><i class="la la-angle-right" aria-hidden="true"></i></span>
    <span class="page-title">{{ page_title }}</span>
    {% endif %}
    </div>
  </div>
{% endif %}
