{% unless id %}
    {%- assign id = 'countDownDate' -%}
{% endunless %}
<div id="{{id}}-wrap" style="display: none;" class="tw-w-full  tw-leading-[32px] tw-text-sm tw-uppercase tw-font-mono tw-font-semibold tw-bg-black tw-text-center tw-text-white">
    <div class="tw-text-xl tw-inline-block tw-align-sub">
        <svg fill="currentColor" height="1em" stroke-width="0" stroke="currentColor" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path>
            <path d="M13 7h-2v5.414l3.293 3.293 1.414-1.414L13 11.586z"></path>
        </svg>
    </div>
    {{'strings.general.sale_ends_in' | t}}:
    <span id="{{id}}">00:00:00</span>
</div>


<script>
    // Set the date we're counting down to
      function addHours(date,h) {
  date.setTime(date.getTime() + (h*60*60*1000));
  return date;
}
  // Set the date we're counting down to
  var date = new Date("{% render 'countdown-timer-string' %}")
  var countDownDate = addHours(date,7).getTime();

    // Update the count down every 1 second
    var x = setInterval(function () { // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;
        if (distance > 0) {
            document
                .querySelector("#{{ id }}-wrap")
                .style
                .display = "block"
        }
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        let countdownstring = ""
        if (days === 0) {} else if (days === 1) {
            countdownstring = countdownstring + days + " {{'strings.general.day' | t}}, "
        } else {
            countdownstring = countdownstring + days + " {{'strings.general.days' | t}}, "
        }
        countdownstring = countdownstring + hours + ":" + minutes + ":" + seconds + "";
        document.getElementById("{{ id }}").innerHTML = countdownstring;

        // If the count down is finished, write some text
        // if (distance < 0) {
        //     clearInterval(x);
        //     document.getElementById("demo").innerHTML = "EXPIRED";
        // }
    }, 1000);
</script>