{% unless id %}
    {%- assign id = 'countDownDate' -%}
{% endunless %}
<div style="display: none;" id="{{id}}-wrap"  class="flex lg:tw-static tw-w-full tw-absolute tw-left-0 tw-top-0 tw-gap-2">
  <div class="tw-flex lg:tw-flex-col lg:tw-flex lg:tw-justify-start lg:tw-text-black lg:tw-bg-transparent tw-w-full tw-justify-center tw-items-baseline tw-text-white tw-bg-black tw-text-left tw-mb-4 tw-text-sm tw-font-semibold tw-text-opacity-70">
    {{'strings.general.sale_ends_in' | t}}: 
  <div class="lg:tw-mt-1 tw-leading-[32px] lg:tw-w-full  tw-uppercase tw-font-mono tw-font-semibold tw-bg-black tw-px-3 tw-text-white"><div class="tw-text-lg tw-inline-block tw-align-sub"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M13 7h-2v5.414l3.293 3.293 1.414-1.414L13 11.586z"></path></svg></div> <span id="{{id}}">00:00:00</span></div>
  </div>
</div>


<script>
  
  // Set the date we're counting down to
    function addHours(date,h) {
  date.setTime(date.getTime() + (h*60*60*1000));
  return date;
}
  // Set the date we're counting down to
  var date = new Date("{% render 'countdown-timer-string' %}")
  var countDownDate = addHours(date,7).getTime();
  var now = new Date().getTime();
  var distance = countDownDate - now;
  if(distance>0){
          document.querySelector("#{{id}}-wrap").style.display="flex"
          document.querySelector("#{{id}}-wrap").innerHTML=document.querySelector("#{{id}}-wrap").innerHTML+`<style>#product-content{ padding-top:20px}</style>`
      }
  // Update the count down every 1 second
  var x = setInterval(function() {
      
    // Get today's date and time
    var now = new Date().getTime();
  
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
      
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
    // Display the result in the element with id="demo"
    let countdownstring= ''
    if (days===0){
  
    } else if (days===1){
      countdownstring=countdownstring+days + " {{'strings.general.day' | t}}, "
    }else{
      countdownstring=countdownstring+days + " {{'strings.general.days' | t}}, "
    }
    countdownstring=countdownstring+hours + ":"
    + minutes + ":" + seconds + "";
    document.getElementById("{{id}}").innerHTML = countdownstring;
  
    // If the count down is finished, write some text
    // if (distance < 0) {
    //   clearInterval(x);
    //   document.getElementById("demo").innerHTML = "EXPIRED";
    // }
  }, 1000);
  </script>