{% assign variant = product.first_available_variant %}
{% assign compare_at_price = variant.compare_at_price | floor %}
{% assign price = variant.price | floor %}
{% if price < compare_at_price %}
    {% capture discount %}
    {{ compare_at_price | minus:price | times:10.000 | divided_by: compare_at_price | round | append: '0'  }}%
    {% endcapture %}
{% endif %}
{% assign image_size     = '360x504' %}
{% assign featured_image            = product.featured_image %}
<div class="ci">
    <img class="tw-absolute tent tw-w-1/3 tw-z-10 tw-top-0 tw-left-0" data-src="" src="{{'strings.general.delivery-label-image' | t | file_img_url:'100x100'}}"/>
    {% if product.available %}
        {% if discount %}
            <span class="percentage_off tw-absolute tw-top-0 tw-right-0 tw-z-10 empty:tw-hidden">{{'strings.general.percentage_off' | t: number:discount}}</span>
        {% endif %}
        {% for collection in product.collections %}
            {% unless hidelabel %}
            {% if collection.handle == 'bestseller' %}
                <span class="tw-text-xs tw-bg-opacity-70 tw-font-bold tw-leading-relaxed tw-px-[0.5em] tw-bg-[#eef5f1] tw-absolute tw-bottom-0 tw-mb-6 tw-left-0 tw-z-10 empty:tw-hidden">
                    {{ 'strings.general.best_seller' | t }}
                </span>
                {% break %}
            {% endif %}
            {% endunless %}
            
            {% if collection.handle == 'new' %}
                <span class="tw-text-xs tw-bg-opacity-70 tw-font-bold tw-leading-relaxed tw-px-[0.5em] tw-bg-[#eef5f1] tw-absolute tw-bottom-0 tw-mb-6 tw-left-0 tw-z-10 empty:tw-hidden">
                    {{ 'strings.general.new_product' | t }}
                </span>
                {% break %}
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="so icn">{{ 'products.general.sold' | t }}</div>
    {% endif %}

    {% if product.featured_media %}
        <a class="tw-block  tw-border tw-border-[#f1f1f1] tw-border-solid" href="{{ product.url }}" title="{{ product.title | escape }}">
            <div {% if settings.image_flip and product.media.size > 1 %} class=" tw-group" {% endif %}>
                {%- assign preview_image = product.featured_media.preview_image -%}
                {%- assign second_image = product.media[1] -%}
                <div class="tw-relative tw-transition-opacity tw-opacity-100 tw-duration-700 group-hover:tw-opacity-0">
                    {% render "[image]", image: preview_image image_box_ratio:'100%' image_size:image_size %}
                </div>
                {% if settings.image_flip and product.media.size > 1 %}
                    <div class=" group-hover:tw-visible group-hover:tw-opacity-100 tw-invisible tw-opacity-0 tw-transition-opacity tw-duration-700">
                        {% render "[image]", image: second_image image_box_ratio:'0%'  layout:'fill' image_size:image_size %}
                    </div>
                {% endif %}
            </div>
        </a>
    {%- else -%}
        {% capture current %}
            {% cycle 1, 2, 3, 4, 5, 6 %}
        {% endcapture %}
        <div class="tw-w-full" style="padding-bottom:56.25%"></div>
        <div class="tw-absolute tw-w-full tw-h-full tw-inset-0 tw-flex tw-justify-center tw-items-center tw-p-6">
            <img class="tw-w-full tw-h-full tw-object-contain" src="{{ 'holderimage.png' | asset_url }}"/>
        </div>
    {%- endif -%}
    {% if settings.quickview and template != 'search' %}
        <div class="product-info">
            <a rel="nofollow" data-fancybox="quick-view-{{ product.id }}" class="fancybox.ajax product-modal" href="{{ product.url }}?view=quick">{{ 'products.general.quick_view' | t }}</a>
        </div>
    {% endif %}
</div>

<div class="product-details">
    <a href="{{ product.url }}{% comment %}{{ product.url | within: collection }}{% endcomment %}" class="js-product-details-link">
        {% if settings.vendor %}
            <h4>{{ product.vendor }}</h4>
        {% endif %}
        <p class="product__subtitle hidden-desktop">
            {{ product.metafields.global.slogun }}
        </p>
        <h3 class="flex">
            <span class="product-title !tw-block">
                {{ product.title }}
            </span>
            {% render 'product-price-listing', product: product %}</h3>
    </a>

    {% unless product.template_suffix == 'not-for-sale' %}
        <div class="small-desc">
            {% for field in product.metafields.text %}
                {{ field | last }}
            {% endfor %}
        </div>
        <div class="flex">
            <p class="product__subtitle">
                {{ product.metafields.global.slogun }}
            </p>
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
    {% endunless %}


    <!-- **BEGIN** Hextom USB Integration // Collection Include - DO NOT MODIFY -->
    {% render 'hextom_usb_coll', product: product %}
    <!-- **END** Hextom USB Integration // Collection Include - DO NOT MODIFY -->
</div>
