<div class="quick-add-to-cart">
  {% if product.variants.size <= 1 and product.available %}
      {% capture product_form_config %}
        {
          "money_format": {{ shop.money_format | json }},
          "enable_history": false,
          "sold_out": {{ "products.product.sold_out" | t | json }},
          "button": {{ 'products.product.add_to_cart' | t | json }},
          "unavailable": {{ 'products.product.unavailable' | t | json }}
        }
      {% endcapture %}
      {% form 'product', product, data-product-form:product_form_config %}
      <div class="product-variants"></div><!-- product variants -->
      <input  type="hidden" id="{{ variant.id }}" name="id" data-sku="{{ variant.sku }}" value="{{ product.variants[0].id }}" />
      <div class="product-add">
        <input id="AddToCart" type="submit" name="button" class="add clearfix" value="{{ 'products.product.add_to_cart' | t }}" />
      </div>
    {% endform %}
  {% else %}
    <div class="product-add">
      <a class="add options button clearfix" href="{{ product.url | within: collection }}">{{ 'products.product.select_options' | t }}</a>
    </div>
  {% endif %}
</div>
