{% assign id = section.id %}
{% assign current_variant =  product.selected_or_first_available_variant %}
{% assign optionStr = current_variant.sku | strip %}
{% capture items %}
    {% for media in product.media %}
            {% assign mediaAlt = product.title | append:' ' | append:current_variant.title %}
  	{% if optionStr == media.alt %}
        <li class="keen-slider__slide keen-slider-{{id}}-keen-slider__slide">
            <a target="_blank" class="tw-flex tw-cursor-[zoom-in] tw-z-20 tw-justify-center tw-items-center tw-absolute tw-inset-0 tw-w-full tw-h-full" data-fancybox="product-{{ product.id }}" title="click to zoom-in" href="{{ media | img_url: '2400x' }}" itemprop="contentUrl" tabindex="-1"></a>
            {% render '[image]' image:media class: '!tw-p-0' layout:'fill' alt:mediaAlt %}
        </li>
 {% endif %}
    {% endfor %}
{% endcapture %}

{% capture dots %}
    {% for media in product.media %}
	{% if optionStr == media.alt %}
        <div class="dot tw-border-none lg:tw-border lg:tw-border-solid tw-border-current hover:tw-border-black lg:tw-bg-transparent tw-bg-current  tw-w-[5px] tw-h-[5px] tw-rounded-full lg:tw-w-[54px] lg:tw-h-[31px] lg:tw-rounded-none tw-relative">
            <div class="tw-hidden lg:tw-block tw-w-full tw-h-full">
                {% render '[image]' image:media  layout:'fill' image_size:'50x' %}
            </div>
           
        </div>
{% endif %}
    {% endfor %}

{% endcapture %}
{% for variant in product.variants %}
    {% assign optionStr = variant.sku | strip %}
    <template data-variant-id="{{variant.id}}" data-optionstr="{{optionStr}}">
        {% for media in product.media %}
            {% assign mediaAlt = product.title | append:' ' | append:variant.title %}
            {% if optionStr == media.alt %}
                <li class="keen-slider__slide keen-slider-{{id}}-keen-slider__slide tw-relative">
                    <a target="_blank" class="tw-flex tw-cursor-[zoom-in] tw-z-20 tw-justify-center tw-items-center tw-absolute tw-inset-0 tw-w-full tw-h-full" data-fancybox="product-{{ product.id }}" title="click to zoom-in" href="{{ media | img_url: '2400x' }}" itemprop="contentUrl" tabindex="-1"></a>
                    {% render '[image]' image:media class: '!tw-p-0' layout:'fill' alt:mediaAlt %}
                </li>
            {% endif %}
        {% endfor %}
    </template>
    <template data-variant-dot-id="{{variant.id}}">
        {% for media in product.media %}
             {% assign mediaAlt = product.title | append:' ' | append:variant.title %}
            {% if optionStr == media.alt %}
                <div class="dot tw-border-none lg:tw-border lg:tw-border-solid tw-border-current hover:tw-border-black lg:tw-bg-transparent tw-bg-current  tw-w-[5px] tw-h-[5px] tw-rounded-full lg:tw-w-[54px] lg:tw-h-[31px] lg:tw-rounded-none tw-relative">
                    <div class="tw-hidden lg:tw-block tw-w-full tw-h-full">
                        {% render '[image]' image:media class: '!tw-p-0' layout:'fill' image_size:'50x' alt:mediaAlt %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </template>
{% endfor %}

{% if id %}
    {% else %}
        {% assign id = section.id %}
{% endif %}
<div class="tw-relative tw-pt-6">
    <div class="tw-relative lg:tw-h-[440px] sm:tw-h-[280px] md:tw-h-[340px] tw-overflow-hidden tw--mx-4 sm:tw--mx-8 tw-pb-[100%] md:tw-pb-0 lg:tw-mx-0">
        <div class="keen-slider tw-absolute md:tw-relative tw-inset-0 tw-w-full tw-h-full" id="keen-slider-{{id}}">
            {{items}}
        </div>
    </div>

    <div class=" tw-mt-6 keen-slider-{{id}}-dots tw-gap-2 tw-flex-wrap " id="keen-slider-{{id}}-dots">
        {{dots}}
    </div>
    <div class="tw-hidden tw-pointer-events-none tw-px-8 lg:tw-flex tw-items-center tw-justify-between tw-absolute tw-h-full tw-top-0 tw--left-8 tw--right-8">
        <button class="tw-m-0 tw-pointer-events-auto !tw-text-2xl tw-text-black tw-bg-transparent tw-w-10 tw-h-10 tw-rounded-full tw-flex tw-justify-center tw-items-center hover:tw-bg-gray-100" id="keen-slider-{{id}}-arrow-left">
            <svg height="1em" viewbox="0 0 100 100" width="1em">
                <path class="arrow" d="M 10,50 L 50,90 L 55,90 L 15,50  L 55,10 L 50,10 Z"></path>
            </svg>
        </button>
        <div class="tw-flex-1"></div>
        <button class="tw-m-0 tw-pointer-events-auto  !tw-text-2xl tw-text-black tw-bg-transparent tw-w-10 tw-h-10 tw-rounded-full tw-flex tw-justify-center tw-items-center hover:tw-bg-gray-100" id="keen-slider-{{id}}-arrow-right">
            <svg height="1em" viewbox="0 0 100 100" width="1em">
                <path class="arrow" d="M 10,50 L 50,90 L 55,90 L 15,50  L 55,10 L 50,10 Z" transform="translate(100, 100) rotate(180) "></path>
            </svg>
        </button>
    </div>

</div>

<style>
    #keen-slider-{{id}}.keen-slider{
        display: flex;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
       position: absolute;
    }

    .keen-slider>* {
        position: relative;
        width: 100%;
        min-height: 100%;
        flex-shrink: 0;
    }
    .keen-slider[data-keen-slider-v] {
        flex-wrap: wrap;
    }
    .keen-slider[data-keen-slider-v]>* {
        width: 100%;
    }

    .keen-slider[data-keen-slider-moves] * {
        pointer-events: none;
    }

    .keen-slider>* {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-weight: 500;
        height: 100%;
    }
    #keen-slider-{{id}} .keen-slider__slide img{
        margin: auto;
    }
    .keen-slider-{{id}}-dots{
      display: flex; 
      justify-content: center;
      overflow: hidden;
      padding-bottom: 2em;
    }
    .keen-slider-{{id}}-dots .dot{
      color: #cecece;
      overflow: hidden;
    }
    .keen-slider-{{id}}-dots .dot--active{
      color: #000;
    }
    .arrow--disabled{
        display: none;
    }
</style>
<script>
    function initGallery (){
 
        var productFancy = $("[data-fancybox='product-{{product.id}}']");
        if(productFancy.fancybox){
            productFancy.fancybox({
                loop: true,
                parentEl: '.fancybox-wrapper',
                transitionDuration: 100,
                animationDuration: 500,
                animationEffect: "fade",
                buttons: [
                    'fb',
                    'tw',
                    "zoom",
                    "zoom-in-out",
                    "fullScreen",
                    "slideShow",
                    "thumbs",
                    "close"
                ],
                infobar: true,
                transitionEffect: "slide",
                thumbs: {
                    autoStart: false, // Display thumbnails on opening
                    hideOnClose: true, // Hide thumbnail grid when closing animation starts
                    parentEl: ".fancybox-container", // Container is injected into this element
                    axis: "y" // Vertical (y) or horizontal (x) scrolling
                },
                clickContent: function(current, event) {
                    return current.type === "image" ? "next" : false;
                },
                beforeClose: function(instance, slide) {
                }
            });
        }
        
    }
    window.addEventListener("themeloaded", function(event) { // (1)
        const slider = new KeenSlider("#keen-slider-{{id}}", {
          slidesPerView: 1,
          spacing: 0,
          loop: true,
          created: function (instance) {
            let dotWrapper=document.querySelector('#keen-slider-product-template-dots')
            // console.log("dotWrapper",dotWrapper)
            dotWrapper.addEventListener('click',(e)=>{
                let target = e.target
                let index=[...dotWrapper.querySelectorAll('img')].findIndex(e=>e===target)
                instance.moveToSlide(index)
            })
              window.slider=instance
                Events.on('variantchange', function(variant,product, context){
                    if(variant){
                        document.querySelector("#keen-slider-{{id}}").innerHTML=''
                        const innerslider =document.querySelector(`[data-variant-id='${variant.id}']`).content.cloneNode(true)
                        document.querySelector("#keen-slider-{{id}}").append(innerslider)
                        updateDots(instance,variant)
                        initGallery()
                        instance.refresh()
                    }
                    window.slider.moveToSlide(0)
                })
              document
              .getElementById("keen-slider-{{id}}-arrow-left")
              .addEventListener("click", function () {
                  instance.prev()
              })

              document
              .getElementById("keen-slider-{{id}}-arrow-right")
              .addEventListener("click", function () {
                  instance.next()
              })
              
              updateClasses(instance)
              updateDots(instance)
                initGallery()
          },
          slideChanged(instance) {
              updateClasses(instance)
          },
      })
      function updateClasses(instance) {
          var slide = instance.details().relativeSlide
          var arrowLeft = document.getElementById("keen-slider-{{id}}-arrow-left")
          var arrowRight = document.getElementById("keen-slider-{{id}}-arrow-right")
          slide === 0
              ? arrowLeft.classList.add("arrow--disabled")
              : arrowLeft.classList.remove("arrow--disabled")
          slide === instance.details().size - 1
              ? arrowRight.classList.add("arrow--disabled")
              : arrowRight.classList.remove("arrow--disabled")
          var dots = document.querySelectorAll(".dot")
          dots.forEach(function (dot, idx) {
            idx === slide
              ? dot.classList.add("dot--active")
              : dot.classList.remove("dot--active")
          })
      }
      function updateDots(instance,variant) {
        if(!variant) return
        var dots_wrapper = document.getElementById("keen-slider-{{id}}-dots")
        dots_wrapper.innerHTML=''
              var dots = [...document.querySelector(`[data-variant-dot-id='${variant.id}']`).content.children]
            //   console.log(document.querySelector(`[data-variant-dot-id='${variant.id}']`))
              dots.forEach(function (e, idx) {
                var dot = e.cloneNode(true)
                dots_wrapper.appendChild(dot)
                // console.log({dot})
                // dot.addEventListener("click", function () {
                //     instance.moveToSlide(idx)
                // })
              })
        
      }
  })

</script>
<script src="https://cdn.jsdelivr.net/npm/keen-slider@5.5.0/keen-slider.min.js" ></script>
