{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_be-inspired-2023">
			<!-- START Be Inspired REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(255,255,255,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-104" data-title="Slide 1" data-anim="ms:0ms;f:nodelay;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="f:contain;" data-no-retina>
<!--
							--><rs-layer
								id="slider-68-slide-104-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:350px,350px,350px,0;y:m,m,m,b;yo:-36px,-36px,-36px,58px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:510px,510px,510px,277px;h:515px,515px,515px,280px;"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:1000;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de013123-wishbone.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-105" data-title="Slide 2" data-anim="ms:0ms;f:nodelay;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="f:contain;" data-no-retina>
<!--
							--><rs-layer
								id="slider-68-slide-105-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:170px,170px,170px,10px;y:m,m,m,b;yo:50px,50px,50px,46px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:761px,761px,761px,411px;h:397px,397px,397px,214px;"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:1000;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de013123-noguchi.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-106" data-title="Slide 3" data-anim="ms:0ms;f:nodelay;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="f:contain;" data-no-retina>
<!--
							--><rs-layer
								id="slider-68-slide-106-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:310px,310px,310px,0;y:m,m,m,b;yo:-35px,-35px,-35px,53px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:545px,545px,545px,276px;h:553px,553px,553px,280px;"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:1000;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de013123-eames.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-107" data-title="Slide 4" data-anim="ms:0ms;f:nodelay;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="f:contain;" data-no-retina>
<!--
							--><rs-layer
								id="slider-68-slide-107-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:295px,295px,295px,-10px;y:t,t,t,b;yo:0,0,0,55px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:577px,577px,577px,315px;h:596px,596px,596px,325px;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="sp:1000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:1000;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de013123-pendant.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-back rs-stl-visible"><!--

							--><rs-layer
								id="slider-68-slide-68-layer-0" 
								class="rs-layer-static"
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:c;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:100%;h:15px,15px,15px,10px;"
								data-basealign="slide"
								data-onslides="s:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:14;background-color:#ffffff;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-68-slide-68-layer-1" 
								class="rs-layer-static"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-500px,-500px,-500px,0;yo:-6px,-6px,-6px,-3px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:518px,518px,518px,330px;h:57px,57px,57px,36px;"
								data-onslides="s:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de011023-badge.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-68-slide-68-layer-2" 
								class="rs-layer-static"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-3000px,-3000px,-3000px,0;y:t,t,t,m;yo:50px,50px,50px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:300px,300px,300px,480px;h:375px,375px,375px,600px;"
								data-vbility="f,f,f,t"
								data-onslides="s:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_DI802-cp-bg.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-68-slide-68-layer-3" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-500px,-500px,-500px,0;yo:5px,5px,5px,9px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:30,30,30,18;l:30,30,30,14;ls:5px,5px,5px,4px;fw:600;a:center;"
								data-onslides="s:1;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:16;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Ends Midnight 
							</rs-layer><!--

							--><rs-layer
								id="slider-68-slide-68-layer-5" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-500px,-500px,-500px,0;y:t,t,t,m;yo:397px,397px,397px,-80px;"
								data-text="w:normal;s:20,20,20,4;l:25,25,25,6;"
								data-dim="w:466px,466px,466px,350px;h:82px,82px,82px,auto;"
								data-onslides="s:1;"
								data-blendmode="darken"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;st:200;sp:600;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/_a8r/vlyr" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-68-slide-68-layer-6" 
								class="rs-layer-static"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,-2000px;y:m;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1920px,1920px,1920px,480px;h:720px,720px,720px,600px;"
								data-vbility="t,t,t,f"
								data-onslides="s:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_DI802-bg.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-68-slide-68-layer-7" 
								class="rs-layer-static"
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-500px,-500px,-500px,0;yo:247px,247px,247px,109px;"
								data-text="s:40,40,40,23;l:40,40,40,23;fw:600,600,600,900;a:center;"
								data-onslides="s:1;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Designer Classics Inspiration For Less 
							</rs-layer><!--

							--><rs-layer
								id="slider-68-slide-68-layer-8" 
								class="rs-layer-static"
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-500px,-500px,-500px,0;yo:328px,328px,328px,152px;"
								data-text="s:40,40,40,25;l:40,40,40,25;ls:3px,3px,3px,1px;a:center;"
								data-onslides="s:1;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>up to 70% off + express delivery 
							</rs-layer><!--

							--><rs-layer
								id="slider-68-slide-68-layer-10" 
								class="rs-layer-static"
								data-type="text"
								data-color="#865d3c"
								data-rsp_ch="on"
								data-xy="x:c;xo:-500px,-500px,-500px,0;yo:137px,137px,137px,42px;"
								data-text="s:100,100,100,60;l:100,100,100,60;ls:2px;fw:900;a:center;"
								data-onslides="s:1;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Be Inspired 
							</rs-layer><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi68 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+Arabic+Regular:600%2C400%2C900%7CDIN+Next+LT+W04+Medium:900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi68;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi68 = window.revapi68===undefined || window.revapi68===null || window.revapi68.length===0  ? document.getElementById("20") : window.revapi68;
			if(window.revapi68 === null || window.revapi68 === undefined || window.revapi68.length==0) { window.revapi68initTry = window.revapi68initTry ===undefined ? 0 : window.revapi68initTry+1; if (window.revapi68initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi68 = jQuery(window.revapi68);
			if(window.revapi68.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi68.revolutionInit({
					revapi:"revapi68",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"5000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar: {
						color:"rgba(255,255,255,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_be-inspired-2023" ).after( "<div id='revslider_show_be-inspired-2023'></div>" );
                            jQuery( "#revslider_drag_be-inspired-2023" ).hide();
                            jQuery("#revslider_foot_be-inspired-2023").appendTo("#revslider_show_be-inspired-2023");
                            jQuery("#revslider_show_be-inspired-2023 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>