{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_This-Spring">
			<!-- START This Spring 2022 REVOLUTION SLIDER 6.5.6.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:#d2386c;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.13">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-5" data-title="Slide 1" data-anim="ms:300ms;" data-in="o:0;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#d2386c;" data-no-retina>
<!--
							--><rs-layer
								id="slider-5-slide-5-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:40px,40px,40px,230px;y:m;yo:0,0,0,120px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1177px,1177px,1177px,882px;h:407px,407px,407px,305px;"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0563/0938/3354/t/56/assets/This-Spring-1.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-6" data-title="Slide 2" data-anim="ms:300ms;" data-in="o:0;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#a0daa8;" data-no-retina>
<!--
							--><rs-layer
								id="slider-5-slide-6-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:40px,40px,40px,230px;y:m;yo:0,0,0,120px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1177px,1177px,1177px,882px;h:407px,407px,407px,305px;"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0563/0938/3354/t/56/assets/This-Spring-2.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-7" data-title="Slide 3" data-anim="ms:300ms;" data-in="o:0;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#e9897d;" data-no-retina>
<!--
							--><rs-layer
								id="slider-5-slide-7-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:40px,40px,40px,230px;y:m;yo:0,0,0,120px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1177px,1177px,1177px,882px;h:407px,407px,407px,305px;"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0563/0938/3354/t/56/assets/This-Spring-3.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--

							--><rs-layer
								id="slider-5-slide-5-layer-8" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:80px,80px,80px,0;yo:368px,368px,368px,150px;"
								data-text="s:26,26,26,22;l:30,30,30,32;ls:0px,0px,0px,1px;a:left,left,left,center;"
								data-onslides="s:1;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:7;font-family:'DIN Next LT Arabic Regular';"
							>Save up to 60% off + Free delivery 
							</rs-layer><!--

							--><rs-layer
								id="slider-5-slide-5-layer-10" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:80px,80px,80px,0;yo:217px,217px,217px,45px;"
								data-text="s:50,50,50,40;l:50,50,50,40;ls:3px;fw:900;a:left,left,left,center;"
								data-onslides="s:1;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>This Spring 
							</rs-layer><!--

							--><a
								id="slider-5-slide-5-layer-11" 
								class="rs-layer rs-layer-static"
								href="https://designer-icons.com/collections/all" target="_self" rel="nofollow"
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:80px,80px,80px,0;yo:444px,444px,444px,200px;"
								data-text="s:18,18,18,14;l:30,30,30,14;ls:2px;fw:500;a:left,left,left,center;"
								data-onslides="s:1;"
								data-padding="t:5,5,5,8;r:20;b:5,5,5,8;l:20;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:6;background-color:#ffffff;font-family:'DIN Next LT Arabic Regular';"
							>SHOP NOW 
							</a><!--

							--><rs-layer
								id="slider-5-slide-5-layer-13" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:80px,80px,80px,0;yo:300px,300px,300px,100px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:30,30,30,22;l:30,30,30,26;ls:0px,0px,0px,1px;a:left,left,left,center;"
								data-onslides="s:1;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:9;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Your Home, Your Style - You Create 
							</rs-layer><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi5 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0563/0938/3354/files/DIN Next LT Arabic Regular.min.css?v=1645103675" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN Next LT Arabic Regular:400%2C900%2C500%2C300" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi5;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi5 = window.revapi5===undefined || window.revapi5===null || window.revapi5.length===0  ? document.getElementById("20") : window.revapi5;
			if(window.revapi5 === null || window.revapi5 === undefined || window.revapi5.length==0) { window.revapi5initTry = window.revapi5initTry ===undefined ? 0 : window.revapi5initTry+1; if (window.revapi5initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi5 = jQuery(window.revapi5);
			if(window.revapi5.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi5.revolutionInit({
					revapi:"revapi5",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6225d3cb0ce2c",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar: {
						color:"rgba(255,255,255,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_This-Spring" ).after( "<div id='revslider_show_This-Spring'></div>" );
                            jQuery( "#revslider_drag_This-Spring" ).hide();
                            jQuery("#revslider_foot_This-Spring").appendTo("#revslider_show_This-Spring");
                            jQuery("#revslider_show_This-Spring .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>