{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_spring-bank-holiday-sale-11">
			<!-- START Great Ideas REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:#ffffff;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-110" data-title="Slide 1" data-anim="ms:0ms;" data-in="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-no-retina>
<!--
							--><rs-layer
								id="slider-71-slide-110-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;y:m;yo:20px,20px,20px,150px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1171px,1171px,1171px,480px;h:563px,563px,563px,231px;"
								data-frame_1="e:none;sp:0;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_great-ideas-design.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-110-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,15px;y:b;yo:0,0,0,-100px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:100%,100%,100%,auto;h:['100%','100%','100%','100%'];"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_DE920-bg2.png" data-c="fullheight" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-110-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-80px,-80px,-80px,-94px;yo:0,0,0,-32px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1157px,1157px,1157px,720px;h:473px,473px,473px,294px;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_DE920-bg1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-110-layer-12" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:c;xo:-550px,-550px,-550px,0;y:m;yo:37px,37px,37px,-82px;"
								data-text="s:50,50,50,36;l:30,30,30,36;ls:6px,6px,6px,3px;fw:400,400,400,500;a:center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Save Up To 70% Off 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-110-layer-14" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-550px,-550px,-550px,0;y:m,m,m,b;yo:140px,140px,140px,285px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,325px;h:76px,76px,76px,56px;"
								data-blendmode="darken"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:400;sp:600;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/7uar/yner" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-110-layer-15" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:c;xo:-550px,-550px,-550px,0;y:m,m,m,t;yo:-132px,-132px,-132px,20px;"
								data-text="s:80,80,80,54;l:80,80,80,54;ls:5px,5px,5px,1px;fw:900;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:14;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Great IDeas<br />
For Exceptional<br />
Design 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-110-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-29px,-29px,-29px,0;y:t,t,t,m;yo:728px,728px,728px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-vbility="f,f,f,f"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_great-ideas-mobile.jpg" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi71 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+Arabic+Regular:400%2C500%7CDIN+Next+LT+W04+Medium:900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi71;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi71 = window.revapi71===undefined || window.revapi71===null || window.revapi71.length===0  ? document.getElementById("20") : window.revapi71;
			if(window.revapi71 === null || window.revapi71 === undefined || window.revapi71.length==0) { window.revapi71initTry = window.revapi71initTry ===undefined ? 0 : window.revapi71initTry+1; if (window.revapi71initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi71 = jQuery(window.revapi71);
			if(window.revapi71.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi71.revolutionInit({
					revapi:"revapi71",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_spring-bank-holiday-sale-11" ).after( "<div id='revslider_show_spring-bank-holiday-sale-11'></div>" );
                            jQuery( "#revslider_drag_spring-bank-holiday-sale-11" ).hide();
                            jQuery("#revslider_foot_spring-bank-holiday-sale-11").appendTo("#revslider_show_spring-bank-holiday-sale-11");
                            jQuery("#revslider_show_spring-bank-holiday-sale-11 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>