{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_dine-in-style">
			<!-- START Dine In Style REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:#f0f0f0;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-102" data-title="Slide 1" data-anim="ms:500ms;p:light;" data-in="o:0;" data-out="o:0;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de011723-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-66-slide-102-layer-0" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:c;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:100%;h:485px,485px,485px,460px;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:8;background-color:#707584;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-66-slide-102-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:100px,100px,100px,20px;y:m;yo:-100px,-100px,-100px,-50px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:62px,62px,62px,25px;h:160px,160px,160px,65px;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de011723-dot.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-66-slide-102-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:100px,100px,100px,20px;y:m;yo:-100px,-100px,-100px,-50px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:62px,62px,62px,25px;h:160px,160px,160px,65px;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de011723-dot.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-66-slide-102-layer-3" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:90px,90px,90px,51px;y:b;yo:20px,20px,20px,29px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1259px,1259px,1259px,690px;h:427px,427px,427px,234px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de011723-dining-set.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-66-slide-102-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-3000px,-3000px,-3000px,0;yo:0,0,0,121px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:300px,300px,300px,320px;h:180px,180px,180px,188px;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de011723-vertigo.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-66-slide-102-layer-11" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;yo:125px,125px,125px,80px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:40,40,40,26;l:40,40,40,26;ls:5px,5px,5px,2px;fw:400,400,400,500;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:14;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Bestsellers Up To 70% Off 
							</rs-layer><!--

							--><rs-layer
								id="slider-66-slide-102-layer-12" 
								data-type="text"
								data-color="#cf0000"
								data-rsp_ch="on"
								data-xy="x:c;y:m;yo:-165px,-165px,-165px,-208px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,24;c:both;l:32,32,32,24;ls:3px,3px,3px,1px;fw:600;a:center;"
								data-flcr="c:both;"
								data-vbility="f,f,f,f"
								data-padding="r:3;b:3,3,3,2;l:3;"
								data-border="bos:dotted;boc:#ea2a73;bow:0,0,2px,0;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:500;sp:600;"
								data-frame_999="st:w;sR:5900;"
								style="z-index:16;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>EXTENDED 24 HOURS 
							</rs-layer><!--

							--><rs-layer
								id="slider-66-slide-102-layer-13" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;yo:178px,178px,178px,117px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,325px;h:76px,76px,76px,56px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;sp:500;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/6olr/m26r" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-66-slide-102-layer-14" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,2px;yo:15px;"
								data-text="w:normal,normal,normal,nowrap;s:110,110,110,68;l:110,110,110,56;ls:2px;fw:700;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:15;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Dine In Style 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-back rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi66 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:400%2C500%2C600%2C700" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi66;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi66 = window.revapi66===undefined || window.revapi66===null || window.revapi66.length===0  ? document.getElementById("20") : window.revapi66;
			if(window.revapi66 === null || window.revapi66 === undefined || window.revapi66.length==0) { window.revapi66initTry = window.revapi66initTry ===undefined ? 0 : window.revapi66initTry+1; if (window.revapi66initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi66 = jQuery(window.revapi66);
			if(window.revapi66.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi66.revolutionInit({
					revapi:"revapi66",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"6000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_dine-in-style" ).after( "<div id='revslider_show_dine-in-style'></div>" );
                            jQuery( "#revslider_drag_dine-in-style" ).hide();
                            jQuery("#revslider_foot_dine-in-style").appendTo("#revslider_show_dine-in-style");
                            jQuery("#revslider_show_dine-in-style .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>