{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<link rel="stylesheet" href="{{asset_url_rev}}font-awesome.css?ver=6.5.6.13" type="text/css" />
                <link rel="stylesheet" href="{{asset_url_rev}}revolution.addon.beforeafter.css?ver=6.5.6.13" type="text/css" />
                <div class = "" id="revslider_foot_UK-Sofa--Lounge-Chair-Sale">
			<!-- START DE Sofa & Lounge Chair Sale REVOLUTION SLIDER 6.5.6.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_2_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_2_1" style="" data-version="6.5.6.13">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-2" data-title="Slide 1" data-anim="e:slidingoverlay;ms:1000ms;" data-in="o:0;y:-100%;" data-out="a:false;" data-beforeafter='{"bgColor":"#e7e7e7","bgType":"image","bgImage":"https:\/\/cdn.shopify.com\/s\/files\/1\/0641\/1354\/1347\/t\/7\/assets\/Sofa-Lounge-Chair-3.jpg","bgFit":"cover","bgPos":"center center","moveto":"50%|50%|50%|50%","bgRepeat":"no-repeat","direction":"horizontal","easing":"power2.inOut","delay":500,"time":750,"out":"fade","carousel":false}'>
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/Sofa-Lounge-Chair-1.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><span
								id="slider-2-slide-2-layer-3" 
								class="rs-layer"
								data-type="text"
								data-color="rgba(255,255,255,1)"
								data-rsp_ch="on"
								data-xy="x:c;y:m,m,m,b;yo:180px,180px,180px,100px;"
								data-text="w:normal;s:41,41,41,9;l:22,22,22,6;a:center;"
								data-dim="w:443px,443px,443px,320px;h:75px,75px,75px,auto;"
								data-blendmode="lighten"
								data-frame_0="o:1;"
								data-frame_1="e:default;"
								data-frame_999="o:0;st:w;sR:11700.000610352;"
								data-beforeafter="before" 
								style="z-index:7;font-family:'Open Sans';"
							><img src="https://img1.niftyimages.com/f3r/tlcd/7pwd" width="100%" height="100%"> 
							</span><!--

							--><rs-layer
								id="slider-2-slide-2-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1920px,1920px,1920px,480px;h:720px,720px,720px,179px;"
								data-vbility="t,t,t,f"
								data-frame_999="o:0;st:w;"
								data-beforeafter="before" 
								style="z-index:6;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/Sofa-Lounge-Chair-1.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-6" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1920px,1920px,1920px,480px;h:720px,720px,720px,179px;"
								data-vbility="t,t,t,f"
								data-frame_999="o:0;st:w;"
								data-beforeafter="after" 
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/Sofa-Lounge-Chair-3b.jpg" data-no-retina> 
							</rs-layer><!--

							--><span
								id="slider-2-slide-2-layer-7" 
								class="rs-layer"
								data-type="text"
								data-color="rgba(255,255,255,1)"
								data-rsp_ch="on"
								data-xy="x:c;y:m,m,m,b;yo:180px,180px,180px,100px;"
								data-text="w:normal;s:41,41,41,9;l:22,22,22,6;a:center;"
								data-dim="w:443px,443px,443px,320px;h:75px,75px,75px,auto;"
								data-blendmode="lighten"
								data-frame_0="o:1;"
								data-frame_1="e:default;"
								data-frame_999="o:0;st:w;sR:11700.000610352;"
								data-beforeafter="after" 
								style="z-index:12;font-family:'Open Sans';"
							><img src="https://img1.niftyimages.com/f3r/tlcd/7pwd" width="100%" height="100%"> 
							</span><!--

							--><rs-layer
								id="slider-2-slide-2-layer-8" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1920px,1920px,1920px,480px;h:720px,720px,720px,626px;"
								data-vbility="f,f,f,t"
								data-frame_999="o:0;st:w;"
								data-beforeafter="before" 
								style="z-index:5;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/Sofa-Lounge-Chair-mobile1.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:460px,460px,460px,480px;h:600px,600px,600px,626px;"
								data-vbility="f,f,f,t"
								data-frame_999="o:0;st:w;"
								data-beforeafter="after" 
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/Sofa-Lounge-Chair-mobile3b.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--

							--><rs-layer
								id="slider-2-slide-2-layer-0" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;y:m;yo:90px,90px,90px,110px;"
								data-text="w:normal;s:40,40,40,25;l:45,45,45,32;ls:3px,3px,3px,2px;a:center;"
								data-basealign="slide"
								data-onslides="s:1;"
								data-frame_0="y:-100%;"
								data-frame_0_mask="u:t;"
								data-frame_1="sp:1200;"
								data-frame_1_mask="u:t;"
								data-frame_999="o:0;st:w;sR:7800;"
								style="z-index:10;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Free shipping ending in... 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-18" 
								class="rs-layer-static"
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;y:b,b,b,t;yo:582px,582px,582px,35px;"
								data-text="w:normal;s:70,70,70,46;l:70,70,70,46;fw:700;a:center;"
								data-dim="w:auto,auto,auto,380px;"
								data-basealign="slide"
								data-onslides="s:1;"
								data-frame_0="y:100%;"
								data-frame_0_mask="u:t;"
								data-frame_1="sp:1200;"
								data-frame_1_mask="u:t;"
								data-frame_999="o:0;st:w;sR:7800;"
								style="z-index:8;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Sofa & Lounge Chair Sale 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-19" 
								class="rs-layer-static"
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;y:b,b,b,t;yo:529px,529px,529px,132px;"
								data-text="w:normal;s:45,45,45,32;l:45,45,45,32;ls:3px,3px,3px,0px;a:center;"
								data-basealign="slide"
								data-onslides="s:1;"
								data-frame_0="y:-100%;"
								data-frame_0_mask="u:t;"
								data-frame_1="sp:1200;"
								data-frame_1_mask="u:t;"
								data-frame_999="o:0;st:w;sR:7800;"
								style="z-index:9;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Now on UP TO 50% Off 
							</rs-layer><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_2_1',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider21"]!==undefined) {window.RS_MODULES.modules["revslider21"].once = false;window.revapi2 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400%7CRoboto:400%7CDIN+Next+LT+Arabic+Regular:400%7CDIN+Next+LT+W04+Medium:700" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<script src="{{asset_url_rev}}revolution.addon.beforeafter.min.js?ver=6.5.6.13"></script>
<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi2;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider21"] = {init:function() {
			window.revapi2 = window.revapi2===undefined || window.revapi2===null || window.revapi2.length===0  ? document.getElementById("rev_slider_2_1") : window.revapi2;
			if(window.revapi2 === null || window.revapi2 === undefined || window.revapi2.length==0) { window.revapi2initTry = window.revapi2initTry ===undefined ? 0 : window.revapi2initTry+1; if (window.revapi2initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider21"].init()}); return;}
			window.revapi2 = jQuery(window.revapi2);
			if(window.revapi2.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_2_1"); return;}
			revapi2.revolutionInit({
					revapi:"revapi2",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner0",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,691,600",
					responsiveLevels:"1240,1240,1240,480",
					stopAtSlide:1,
					stopAfterLoops:0,
					stopLoop:true,
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
						if(typeof RevSliderBeforeAfter !== "undefined") {
    						RevSliderBeforeAfter(revapi2, {
        						arrowStyles: {
            						leftIcon: "fa-caret-left",
            						rightIcon: "fa-caret-right",
            						topIcon: "fa-caret-up",
            						bottomIcon: "fa-caret-down",
            						size: "42",
            						color: "#ffffff",
            						bgColor: "rgba(253, 1, 120, 0)",
            						spacing: "15px",
            						padding: "15px",
            						borderRadius: "0"
        						},
        						dividerStyles: {
            						width: "1",
            						color: "rgba(255, 255, 255, 0.5)"
        						},
        						onClick: {
            						time: "500ms",
            						easing: "power2.out"
        						},
        						cursor: "pointer",
        						carousel: false
    						});
						}

		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_UK-Sofa--Lounge-Chair-Sale" ).after( "<div id='revslider_show_UK-Sofa--Lounge-Chair-Sale'></div>" );
                            jQuery( "#revslider_drag_UK-Sofa--Lounge-Chair-Sale" ).hide();
                            jQuery("#revslider_foot_UK-Sofa--Lounge-Chair-Sale").appendTo("#revslider_show_UK-Sofa--Lounge-Chair-Sale");
                            jQuery("#revslider_show_UK-Sofa--Lounge-Chair-Sale .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>