{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_Summer-Sale-2022">
			<!-- START Summer Sale 2022 REVOLUTION SLIDER 6.5.6.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(255,255,255,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.13">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-17" data-title="Slide 1" data-anim="ms:300ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_sale-desktop-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-11-slide-17-layer-1" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:120px,120px,120px,0;y:m;yo:100px,100px,100px,-85px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,325px;h:76px,76px,76px,56px;"
								data-blendmode="lighten"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;sp:1000;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/nojd/oxnd" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-11-slide-17-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:-1000px,-1000px,-1000px,0;y:m,m,m,b;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:560px,560px,560px,382px;h:628px,628px,628px,349px;"
								data-vbility="f,f,f,t"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_sale-mobile-1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-11-slide-17-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:320px,320px,320px,-1000px;y:t,t,t,m;yo:0,0,0,120px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:470px,470px,470px,560px;h:636px,636px,636px,628px;"
								data-vbility="t,t,t,f"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Sale-2.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-18" data-title="Slide 2" data-anim="ms:300ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_sale-desktop-bg2.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-11-slide-18-layer-3" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:120px,120px,120px,0;y:m;yo:100px,100px,100px,-85px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,325px;h:76px,76px,76px,56px;"
								data-blendmode="lighten"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;sp:1000;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/nojd/oxnd" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-11-slide-18-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:-1000px,-1000px,-1000px,0;y:m,m,m,b;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:560px,560px,560px,423px;h:628px,628px,628px,343px;"
								data-vbility="f,f,f,t"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_sale-mobile-2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-11-slide-18-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:310px,310px,310px,-1000px;y:m;yo:0,0,0,120px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:498px,498px,498px,560px;h:575px,575px,575px,628px;"
								data-vbility="t,t,t,f"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Sale-1.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-19" data-title="Slide 3" data-anim="ms:300ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_sale-desktop-bg3.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-11-slide-19-layer-4" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:120px,120px,120px,0;y:m;yo:100px,100px,100px,-85px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,325px;h:76px,76px,76px,56px;"
								data-blendmode="lighten"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;sp:1000;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/nojd/oxnd" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-11-slide-19-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:-1000px,-1000px,-1000px,0;y:m,m,m,b;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:560px,560px,560px,480px;h:628px,628px,628px,350px;"
								data-vbility="f,f,f,t"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_sale-mobile-3.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-11-slide-19-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:80px,80px,80px,-1000px;y:m;yo:0,0,0,120px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:963px,963px,963px,560px;h:496px,496px,496px,628px;"
								data-vbility="t,t,t,f"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Sale-3.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--

							--><rs-layer
								id="slider-11-slide-11-layer-8" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:139px,139px,139px,0;yo:338px,338px,338px,135px;"
								data-text="s:36,36,36,26;l:36,36,36,32;ls:2px,2px,2px,1px;fw:300,300,300,400;a:left,left,left,center;"
								data-onslides="s:1;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:9;font-family:'DIN Next LT Arabic Regular';"
							>Shop up to 60% off + Free delivery 
							</rs-layer><!--

							--><rs-layer
								id="slider-11-slide-11-layer-10" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:134px,134px,134px,0;yo:127px,127px,127px,25px;"
								data-text="s:84,84,84,50;l:90,90,90,50;ls:3px;fw:700,700,700,500;a:left,left,left,center;"
								data-onslides="s:1;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Summer Design <br />Done Right 
							</rs-layer><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi11 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+Arabic+Regular:300%2C400%7CDIN+Next+LT+W04+Medium:700%2C900%2C500" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi11;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi11 = window.revapi11===undefined || window.revapi11===null || window.revapi11.length===0  ? document.getElementById("20") : window.revapi11;
			if(window.revapi11 === null || window.revapi11 === undefined || window.revapi11.length==0) { window.revapi11initTry = window.revapi11initTry ===undefined ? 0 : window.revapi11initTry+1; if (window.revapi11initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi11 = jQuery(window.revapi11);
			if(window.revapi11.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi11.revolutionInit({
					revapi:"revapi11",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar: {
						color:"rgba(255,255,255,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_Summer-Sale-2022" ).after( "<div id='revslider_show_Summer-Sale-2022'></div>" );
                            jQuery( "#revslider_drag_Summer-Sale-2022" ).hide();
                            jQuery("#revslider_foot_Summer-Sale-2022").appendTo("#revslider_show_Summer-Sale-2022");
                            jQuery("#revslider_show_Summer-Sale-2022 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>