{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_danish-classics-collection">
			<!-- START Danish Classics Collection REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:#f2f2f2;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-108" data-title="Slide 1" data-anim="d:5;ms:300ms;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de020723-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-69-slide-108-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-510px,-510px,-510px,0;y:m;yo:-45px,-45px,-45px,-145px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:509px,509px,509px,360px;h:30px,30px,30px,21px;"
								data-frame_999="o:0;st:w;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de020723-divider.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-69-slide-108-layer-1" 
								data-type="text"
								data-color="#0080d6"
								data-rsp_ch="on"
								data-xy="x:c;xo:-510px,-510px,-510px,-2px;y:m,m,m,t;yo:-195px,-195px,-195px,50px;"
								data-text="w:normal,normal,normal,nowrap;s:85,85,85,50;l:85,85,85,50;ls:3px,3px,3px,1px;fw:900;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:17;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Danish Classics 
							</rs-layer><!--

							--><rs-layer
								id="slider-69-slide-108-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:20px,20px,20px,10px;yo:20px,20px,20px,23px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:179px,179px,179px,90px;h:320px,320px,320px,161px;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de020723-frame1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-69-slide-108-layer-3" 
								data-type="text"
								data-color="#cf0000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-510px,-510px,-510px,0;yo:70px,70px,70px,13px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,24;c:both;l:32,32,32,24;ls:3px,3px,3px,1px;fw:600;a:center;"
								data-flcr="c:both;"
								data-padding="r:3;b:3,3,3,2;l:3;"
								data-border="bos:dotted;boc:#ea2a73;bow:0,0,2px,0;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:300;sp:600;"
								data-frame_999="st:w;sR:5900;"
								style="z-index:16;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>24 Hours Extended 
							</rs-layer><!--

							--><rs-layer
								id="slider-69-slide-108-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:20px,20px,20px,10px;yo:20px,20px,20px,23px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:179px,179px,179px,90px;h:320px,320px,320px,161px;"
								data-basealign="slide"
								data-btrans="rY:180;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de020723-frame1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-69-slide-108-layer-5" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-510px,-510px,-510px,0;y:m;yo:55px,55px,55px,-89px;"
								data-text="s:40,40,40,25;l:60,60,60,35;ls:0px,0px,0px,1px;fw:400,400,400,500;a:center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT Arabic Regular';text-transform:capitalize;"
							>Ready To Refresh Your Home?<br />Shop Up To 70% Off! 
							</rs-layer><!--

							--><rs-layer
								id="slider-69-slide-108-layer-9" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-510px,-510px,-510px,0;y:m,m,m,t;yo:-120px,-120px,-120px,105px;"
								data-text="s:42,42,42,25;l:42,42,42,25;ls:2px,2px,2px,0px;fw:600,600,600,500;a:center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:15;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Mid-Century Modern Collection 
							</rs-layer><!--

							--><rs-layer
								id="slider-69-slide-108-layer-14" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-513px,-513px,-513px,-3px;y:m,m,m,b;yo:186px,186px,186px,293px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,300px;h:76px,76px,76px,52px;"
								data-blendmode="darken"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:300;sp:600;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/9fgr/d70r" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-69-slide-108-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-29px,-29px,-29px,0;y:t,t,t,m;yo:748px,748px,748px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:375px,375px,375px,600px;"
								data-vbility="f,f,f,t"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de020723_mobile-bg.jpg" data-c="fullwidth" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi69 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:900%2C600%7CDIN+Next+LT+Arabic+Regular:400%2C500%2C600" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi69;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi69 = window.revapi69===undefined || window.revapi69===null || window.revapi69.length===0  ? document.getElementById("20") : window.revapi69;
			if(window.revapi69 === null || window.revapi69 === undefined || window.revapi69.length==0) { window.revapi69initTry = window.revapi69initTry ===undefined ? 0 : window.revapi69initTry+1; if (window.revapi69initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi69 = jQuery(window.revapi69);
			if(window.revapi69.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi69.revolutionInit({
					revapi:"revapi69",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_danish-classics-collection" ).after( "<div id='revslider_show_danish-classics-collection'></div>" );
                            jQuery( "#revslider_drag_danish-classics-collection" ).hide();
                            jQuery("#revslider_foot_danish-classics-collection").appendTo("#revslider_show_danish-classics-collection");
                            jQuery("#revslider_show_danish-classics-collection .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>