{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_Uk-Danish-Classics-for-Less-102021">
			<!-- START UkDanish Classics for Less 102021 REVOLUTION SLIDER 6.5.6.11 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(236,231,228,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.11">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-4" data-title="Slide 1" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0563/0938/3354/t/56/assets/DANISH-CLASSICS-Oct-Desktop.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-4-slide-4-layer-1" 
								data-type="text"
								data-color="#333333"
								data-rsp_ch="on"
								data-xy="x:c;yo:182px,182px,182px,137px;"
								data-text="w:normal;s:65,65,65,40;l:25,25,25,6;fw:900;a:center;"
								data-frame_999="o:0;st:w;"
								style="z-index:15;font-family:'Roboto';"
							>{{ section.settings.heading | default:'END OF SEASON SALE' }} 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-2" 
								data-type="text"
								data-color="#3a3a3a"
								data-rsp_ch="on"
								data-xy="x:c;yo:418px,418px,418px,371px;"
								data-text="w:normal;s:30,30,30,25;l:25,25,25,6;fw:700;a:center;"
								data-frame_999="o:0;st:w;"
								style="z-index:16;font-family:'Roboto';text-transform:uppercase;"
							>{{ section.settings.remain| default:'Limited Stock <br />
Remaining ' }} 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-3" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,2px;yo:484px,484px,484px,422px;"
								data-text="w:normal;s:20,20,20,4;l:25,25,25,6;"
								data-dim="w:424px,424px,424px,315px;h:73px,73px,73px,auto;"
								data-frame_999="o:0;st:w;"
								style="z-index:17;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/c10d/9mcd" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;yo:252px,252px,252px,193px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:213px,213px,213px,217px;h:138px,138px,138px,141px;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0563/0938/3354/t/56/assets/60-DC.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-12" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:r;xo:1093px,1093px,1093px,372px;y:m;yo:-42px,-42px,-42px,-45px;"
								data-text="s:30,30,30,20;l:25,25,25,20;a:right,right,right,center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'Roboto';"
							>{{ section.settings.upto| default:'UP TO' }} 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-13" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="xo:1085px,1085px,1085px,378px;y:m;yo:-47px,-47px,-47px,-45px;"
								data-text="s:30,30,30,20;l:25,25,25,20;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'Roboto';"
							>{{ section.settings.off| default:'% OFF' }} 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-29px,-29px,-29px,0;y:t,t,t,m;yo:728px,728px,728px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:300px,300px,300px,482px;h:375px,375px,375px,603px;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0563/0938/3354/t/56/assets/DANISH-CLASSICS-Oct-Mobile.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi4 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:900%2C700%2C400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi4;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi4 = window.revapi4===undefined || window.revapi4===null || window.revapi4.length===0  ? document.getElementById("20") : window.revapi4;
			if(window.revapi4 === null || window.revapi4 === undefined || window.revapi4.length==0) { window.revapi4initTry = window.revapi4initTry ===undefined ? 0 : window.revapi4initTry+1; if (window.revapi4initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi4 = jQuery(window.revapi4);
			if(window.revapi4.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi4.revolutionInit({
					revapi:"revapi4",
					sliderType:"hero",
					DPR:"dpr",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6225d3cb0ce2c",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_Uk-Danish-Classics-for-Less-102021" ).after( "<div id='revslider_show_Uk-Danish-Classics-for-Less-102021'></div>" );
                            jQuery( "#revslider_drag_Uk-Danish-Classics-for-Less-102021" ).hide();
                            jQuery("#revslider_foot_Uk-Danish-Classics-for-Less-102021").appendTo("#revslider_show_Uk-Danish-Classics-for-Less-102021");
                            jQuery("#revslider_show_Uk-Danish-Classics-for-Less-102021 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>