{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_january-winter-sale">
			<!-- START January Winter Sale REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:#4c6684;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-100" data-title="Slide 1" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de010323-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-64-slide-100-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:90px,90px,90px,0;y:b;yo:15px,15px,15px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1025px,1025px,1025px,475px;h:847px,847px,847px,393px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;sp:600;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de010323-img.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-64-slide-100-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:510px,510px,510px,0;y:m;yo:-228px,-228px,-228px,-240px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:505px,505px,505px,350px;h:246px,246px,246px,170px;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de010323-label2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-64-slide-100-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:110px,110px,110px,20px;y:t,t,t,m;yo:40px,40px,40px,55px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:280px,280px,280px,130px;h:275px,275px,275px,128px;"
								data-frame_999="o:0;st:w;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de010323-70.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-64-slide-100-layer-11" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:510px,510px,510px,0;y:m,m,m,t;yo:-242px,-242px,-242px,38px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:35,35,35,22;l:35,35,35,22;ls:8px,8px,8px,7px;fw:400,400,400,500;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>ENDS MIDNIGHT 
							</rs-layer><!--

							--><rs-layer
								id="slider-64-slide-100-layer-12" 
								data-type="text"
								data-color="#cf0000"
								data-rsp_ch="on"
								data-xy="x:c;xo:450px,450px,450px,0;yo:175px,175px,175px,20px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,20;c:both;l:32,32,32,20;ls:3px,3px,3px,2px;fw:600;a:center;"
								data-flcr="c:both;"
								data-vbility="f,f,f,f"
								data-padding="r:3;b:3,3,3,2;l:3;"
								data-border="bos:dotted;boc:#ea2a73;bow:0,0,2px,0;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:500;sp:600;"
								data-frame_999="st:w;sR:5900;"
								style="z-index:16;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>24 HOURS EXTENDED 
							</rs-layer><!--

							--><rs-layer
								id="slider-64-slide-100-layer-13" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:510px,510px,510px,0;y:m,m,m,b;yo:140px,140px,140px,315px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,325px;h:76px,76px,76px,56px;"
								data-blendmode="lighten"
								data-frame_1="e:power4.inOut;st:400;sp:600;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:15;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/ovpr/81ar" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-64-slide-100-layer-14" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:510px,510px,510px,-1px;y:m,m,m,t;yo:-10px,-10px,-10px,125px;"
								data-text="w:normal,normal,normal,nowrap;s:200,200,200,100;l:150,150,150,90;ls:2px;fw:900;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Sale 
							</rs-layer><!--

							--><rs-layer
								id="slider-64-slide-100-layer-15" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:535px,535px,535px,12px;y:m,m,m,t;yo:-135px,-135px,-135px,99px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:60,60,60,30;l:60,60,60,20;ls:50px,50px,50px,25px;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Winter 
							</rs-layer><!--

							--><rs-layer
								id="slider-64-slide-100-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-3000px,-3000px,-3000px,0;y:t,t,t,m;yo:50px,50px,50px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['600px','600px','600px','600px'];"
								data-vbility="f,f,f,t"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de010323-mobile-bg.jpg" data-c="fullwidth" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-back rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi64 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:400%2C500%2C600%2C900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi64;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi64 = window.revapi64===undefined || window.revapi64===null || window.revapi64.length===0  ? document.getElementById("20") : window.revapi64;
			if(window.revapi64 === null || window.revapi64 === undefined || window.revapi64.length==0) { window.revapi64initTry = window.revapi64initTry ===undefined ? 0 : window.revapi64initTry+1; if (window.revapi64initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi64 = jQuery(window.revapi64);
			if(window.revapi64.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi64.revolutionInit({
					revapi:"revapi64",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"6000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_january-winter-sale" ).after( "<div id='revslider_show_january-winter-sale'></div>" );
                            jQuery( "#revslider_drag_january-winter-sale" ).hide();
                            jQuery("#revslider_foot_january-winter-sale").appendTo("#revslider_show_january-winter-sale");
                            jQuery("#revslider_show_january-winter-sale .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>