{% capture asset_url_rev %}{% render 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_end-of-january-sale">
			<!-- START End Of January Sale REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_67_1_wrapper" data-source="gallery" style="visibility:hidden;background:#f2f2f2;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_67_1" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-103" data-title="Slide 1" data-duration="6000ms" data-anim="ms:500ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#f2f2f2;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-67-slide-103-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-170px,-170px,-170px,-2px;y:b;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:950px,950px,950px,500px;h:800px,800px,800px,421px;"
								data-vbility="f,f,f,t"
								data-frame_0="o:1;"
								data-frame_999="st:w;sp:500;sR:4500;auto:true;"
								style="z-index:6;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_shapebg2.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-67-slide-103-layer-2" 
								data-type="text"
								data-color="#222222"
								data-rsp_ch="on"
								data-xy="x:c;xo:-440px,-440px,-440px,0;yo:130px,130px,130px,10px;"
								data-text="w:normal;s:70,70,70,40;l:70,70,70,40;ls:8px,8px,8px,5px;fw:600;a:center;"
								data-frame_0="o:1;"
								data-frame_999="st:w;sp:500;sR:5900;auto:true;"
								style="z-index:14;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>End Of January 
							</rs-layer><!--

							--><rs-layer
								id="slider-67-slide-103-layer-9" 
								data-type="text"
								data-color="#3094bb"
								data-rsp_ch="on"
								data-xy="x:c;xo:-440px,-440px,-440px,0;yo:209px,209px,209px,55px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:160,160,160,90;l:160,160,160,90;ls:20px,20px,20px,15px;fw:600;a:center;"
								data-frame_0="o:1;"
								data-frame_999="st:w;sp:500;sR:5900;auto:true;"
								style="z-index:13;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Sale 
							</rs-layer><!--

							--><rs-layer
								id="slider-67-slide-103-layer-10" 
								data-type="text"
								data-color="#222222"
								data-rsp_ch="on"
								data-xy="x:c;xo:-440px,-440px,-440px,-1px;yo:400px,400px,400px,150px;"
								data-text="w:normal;s:40,40,40,23;l:40,40,40,23;ls:2px;a:center;"
								data-frame_0="o:1;"
								data-frame_999="st:w;sp:500;sR:5900;auto:true;"
								style="z-index:12;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>up to 70% off + Express delivery 
							</rs-layer><!--

							--><rs-layer
								id="slider-67-slide-103-layer-11" 
								class="rs-pxl-13"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:90px,90px,90px,0;y:m,m,m,b;yo:0,0,0,30px;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:837px,837px,837px,430px;h:602px,602px,602px,309px;"
								data-frame_0="o:1;"
								data-frame_999="x:50,50,50,11;o:0;st:w;sp:500;"
								style="z-index:7;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de012423-img.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-67-slide-103-layer-20" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-440px,-440px,-440px,0;yo:470px,470px,470px,179px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,15;l:22,22,22,15;ls:2px,2px,2px,0px;a:left,left,left,center;"
								data-dim="w:359px,359px,359px,321px;h:65px,65px,65px,58px;"
								data-blendmode="darken"
								data-frame_1="e:power4.inOut;st:300;sp:600;"
								data-frame_999="st:w;sp:500;sR:5900;auto:true;"
								style="z-index:11;font-family:'DIN Next LT Arabic Regular';"
							><img src="https://img1.niftyimages.com/f3r/0vlr/11qr" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-67-slide-103-layer-21" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:-150px,-150px,-150px,-1500px;y:t,t,t,b;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:950px,950px,950px,236px;h:800px,800px,800px,199px;"
								data-vbility="t,t,t,f"
								data-btrans="rZ:180;"
								data-frame_0="o:1;"
								data-frame_999="st:w;sp:500;sR:5500;auto:true;"
								style="z-index:5;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_shapebg2.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-back rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_67_1',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider671"]!==undefined) {window.RS_MODULES.modules["revslider671"].once = false;window.revapi67 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+Arabic+Regular:600%2C400%7CDIN+Next+LT+W04+Medium:600" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi67;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider671"] = {init:function() {
			window.revapi67 = window.revapi67===undefined || window.revapi67===null || window.revapi67.length===0  ? document.getElementById("rev_slider_67_1") : window.revapi67;
			if(window.revapi67 === null || window.revapi67 === undefined || window.revapi67.length==0) { window.revapi67initTry = window.revapi67initTry ===undefined ? 0 : window.revapi67initTry+1; if (window.revapi67initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider671"].init()}); return;}
			window.revapi67 = jQuery(window.revapi67);
			if(window.revapi67.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_67_1"); return;}
			revapi67.revolutionInit({
					revapi:"revapi67",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"6000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					autoHeight:true,
					enableUpscaling:true,
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,384,292,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					parallax: {
						levels:[5,10,15,20,25,30,35,40,45,50,-5,-10,-15,-20,-25,30],
						type:"scroll",
						origo:"slideCenter",
						speed:1000,
						speedls:1000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"80%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_end-of-january-sale" ).after( "<div id='revslider_show_end-of-january-sale'></div>" );
                            jQuery( "#revslider_drag_end-of-january-sale" ).hide();
                            jQuery("#revslider_foot_end-of-january-sale").appendTo("#revslider_show_end-of-january-sale");
                            jQuery("#revslider_show_end-of-january-sale .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>