{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_ready-big-day">
			<!-- START Ready For The Big Day? REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:#f9f9f9;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-93" data-title="Slide 1" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1213-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-61-slide-93-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:60px,60px,60px,35px;y:m,m,m,b;yo:20px,20px,20px,10px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:426px,426px,426px,190px;h:575px,575px,575px,256px;"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:500;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1213_wishbone.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-61-slide-93-layer-3" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:500px,500px,500px,-68px;y:t,t,t,b;yo:0,0,0,110px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:262px,262px,262px,120px;h:459px,459px,459px,210px;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:100;sp:500;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1213_melt.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-61-slide-93-layer-11" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-480px,-480px,-480px,0;y:m,m,m,t;yo:18px,18px,18px,160px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:40,40,40,24;l:40,40,40,24;ls:3px,3px,3px,2px;fw:400,400,400,500;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:14;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Up To 70% Off Markdown Items 
							</rs-layer><!--

							--><rs-layer
								id="slider-61-slide-93-layer-12" 
								data-type="text"
								data-color="#cf0000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-480px,-480px,-480px,0;yo:80px,80px,80px,16px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,20;c:both;l:32,32,32,20;ls:3px,3px,3px,2px;fw:600;a:center;"
								data-flcr="c:both;"
								data-padding="r:3;b:3,3,3,2;l:3;"
								data-border="bos:dotted;boc:#ea2a73;bow:0,0,2px,0;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:500;sp:600;"
								data-frame_999="st:w;sR:5900;"
								style="z-index:16;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>24 HOURS EXTENDED 
							</rs-layer><!--

							--><rs-layer
								id="slider-61-slide-93-layer-13" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-483px,-483px,-483px,0;y:b;yo:120px,120px,120px,290px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,325px;h:76px,76px,76px,59px;"
								data-blendmode="darken"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;sp:500;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:9;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/4s5r/nj8r" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-61-slide-93-layer-14" 
								data-type="text"
								data-color="#0d615f"
								data-rsp_ch="on"
								data-xy="x:c;xo:-480px,-480px,-480px,0;y:m,m,m,t;yo:-120px,-120px,-120px,50px;"
								data-text="s:100,100,100,60;l:100,100,100,50;ls:0px,0px,0px,1px;fw:900;a:center;"
								data-dim="w:auto,auto,auto,96%;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:15;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Ready For The <br />Big Day? 
							</rs-layer><!--

							--><rs-layer
								id="slider-61-slide-93-layer-17" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-3000px,-3000px,-3000px,0;yo:50px,50px,50px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-vbility="f,f,f,t"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1213-mobile-bg.jpg" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-61-slide-93-layer-18" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,l;xo:695px,695px,695px,14px;y:t,t,t,b;yo:1px,1px,1px,141px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:286px,286px,286px,128px;h:380px,380px,380px,170px;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:200;sp:500;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1213_artichoke.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-61-slide-93-layer-19" 
								class="rs-layer rev-btn"
								href="https://www.designereditions.com/collections/express-delivery" target="_self"
								data-type="button"
								data-rsp_ch="on"
								data-xy="x:c;xo:-480px,-480px,-480px,0;y:m;yo:100px,100px,100px,-80px;"
								data-text="w:normal;s:30,30,30,18;l:30,30,30,18;ls:2px;fw:500;"
								data-dim="minh:0px,0px,0px,none;"
								data-padding="t:15,15,15,12;r:40,40,40,20;b:15,15,15,12;l:40,40,40,20;"
								data-frame_999="o:0;st:w;"
								data-frame_hover="bgc:#0d615f;bor:0px,0px,0px,0px;sp:200;e:power1.inOut;"
								style="z-index:13;background-color:rgba(0,0,0,1);font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Shop Now 
							</a><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi61 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:400%2C500%2C600%2C900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi61;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi61 = window.revapi61===undefined || window.revapi61===null || window.revapi61.length===0  ? document.getElementById("20") : window.revapi61;
			if(window.revapi61 === null || window.revapi61 === undefined || window.revapi61.length==0) { window.revapi61initTry = window.revapi61initTry ===undefined ? 0 : window.revapi61initTry+1; if (window.revapi61initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi61 = jQuery(window.revapi61);
			if(window.revapi61.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi61.revolutionInit({
					revapi:"revapi61",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"6000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
							/* STATIC SNOW FLAKE CONTAINER SETTINGS */
/* PLEASE NOTE! YOU WILL NEED TO ADD AT LEAST 1 STATIC LAYER (EVEN A TRANSPARENT IF YOU WISH) TO USE THE SCRIPT BELOW ON STATIC LAYERS*/


var snowsettings = {   
    selector:'rs-static-layers',  /* THE INNER CONTAINER WHERE FLAKES SHOULD BE DRAWN (OPTIONAL)*/
    dimension:'self',   /* THE RUNTIME DIMENSIONS OF THE CONTAINER */
  particleMaxPer:400,   /* MAX PARTICLE PER 1.5M PIXEL */ 
    particlaSize:[0.2,6], /* MIN, MAX SIZE OF PARTICLE */
    particleOpacity:[0.3,1],/* MIN, MAX OPACITY OF PARTICLE */
    particleSpeed:[30,100], /* MIN, MAX SPEED OF PARTICLES */
    particleSinus:[1,100] /* MIN, MAX AMPLITUDE OF PARTICLE ANIM*/
  };


revapi61.bind("revolution.slide.onloaded",function (e) {
  revapi61.letItSnow(snowsettings);  
});








/* THEMEPUNCH CANVAS SNOW PLUGIN 
   ALL RIGHTS RESERVED, 
   SNOW PLUGIN CAN ONLY BE USED WITHIN SLIDER REVOLUTION AND THEMEPUNCH PLUGINS
   THEMEPUNCH SNOW FLAKE MINI PLUGIN 

   USAGE: 
   To Build Snow: container.letItSnow(settings);  
   To stop Snow: container.letItSnow("stop");
   To start play Snow again: container.letItSnow("play");
   To destroy Snow : container.letItSnow("destroy");
   To make Summer: container.letItSnow("summer");
   To make Winter Again: container.letItSnow("winter");

  Settings:

  selector:'rs-static-layers' ON WHICH CONTAINER WITHIN THE CONTAINER CANVAS SHOULD BE DRAWN 
  dimension:'self'             THE RUNTIME DIMENSIONS OF THE CONTAINER 
  particleMaxPer:400           MAX PARTICLE PER 1.5M PIXEL  
  particlaSize:[0.2,6]         MIN, MAX SIZE OF PARTICLE 
  particleOpacity:[0.3,1]      MIN, MAX OPACITY OF PARTICLE 
  particleSpeed:[30,100]       MIN, MAX SPEED OF PARTICLES 
  particleSinus:[1,100]        MIN, MAX AMPLITUDE OF PARTICLE (SINUS DIRECTION FOR BETTER EFFECT 

*/


var snowsettings={selector:"rs-static-layers",dimension:"self",particleMaxPer:400,particlaSize:[.2,6],particleOpacity:[.3,1],particleSpeed:[30,100],particleSinus:[1,100]};revapi61.bind("revolution.slide.onloaded",function(e){revapi61.letItSnow(snowsettings)}),function(e,s){"use strict";function a(e){e.pause=!0,e.sc.find(".snowflakes_wrapper").remove(),e.c.removeData("snowflakes"),e={}}function n(e){e.snowflakes=[];for(var s=e.w*e.h/15e5;e.snowflakes.length<e.particleMaxPer*s;)e.snowflakes.push(i(e))}function t(e){window.requestAnimationFrame(function(){r(e)})}function r(e){if(e==s||e.ctx==s||1==e.destroyed||1==e.pause)return!1;e.ctx.clearRect(0,0,2700,2500);var a=e.h/3,n=e.h/3*2;for(var r in e.snowflakes)if(e.snowflakes[r].y+.1*e.snowflakes[r].r<0&&1==e.summer||e.snowflakes[r].y>e.h+e.snowflakes[r].r&&1==e.summer);else{e.snowflakes[r].delta+=e.snowflakes[r].delta==Math.PI/2?-e.snowflakes[r].delta:Math.random()/500-.01,e.summer?e.snowflakes[r].y+=e.snowflakes[r].speed/50+.1*e.snowflakes[r].r:e.snowflakes[r].y+=e.snowflakes[r].speed/100+.1*e.snowflakes[r].r,e.snowflakes[r].x+=Math.sin(e.snowflakes[r].delta)*(.1*e.snowflakes[r].r),e.snowflakes[r].y>e.h+e.snowflakes[r].r&&1!=e.summer&&(e.snowflakes[r]=i(e),e.snowflakes[r].y=0-e.snowflakes[r].r);var l=e.snowflakes[r].y-a,o=e.snowflakes[r].r,c=e.snowflakes[r].alpha;if(l>0||1==e.summer){var w=1-l/n;o=e.snowflakes[r].r*w,c=e.snowflakes[r].alpha*w}o=.1>o?.1:o,c=.1>c?.1:c,e.snowflakes[r].x=e.snowflakes[r].x>e.w+e.snowflakes[r].r?0:e.snowflakes[r].x<-o?e.w:e.snowflakes[r].x,e.ctx.beginPath(),e.ctx.arc(e.snowflakes[r].x,e.snowflakes[r].y,o,2*Math.PI,!1),e.ctx.fillStyle="rgba(255,255,255,"+c+")",e.ctx.fill()}t(e)}function i(e){var s=new Object;return s.delta=(e.particleSinus[0]+Math.random()*(e.particleSinus[1]-e.particleSinus[0]))*Math.round(2*Math.random()-1),s.r=e.particlaSize[0]+Math.random()*(e.particlaSize[1]-e.particlaSize[0]),s.alpha=e.particleOpacity[0]+Math.random()*(e.particleOpacity[1]-e.particleOpacity[0]),s.speed=(e.particleSpeed[0]+Math.random()*(e.particleSpeed[1]-e.particleSpeed[0]))*s.r/3,s.x=Math.random()*e.w,s.y=Math.random()*-e.h,s}e.fn.extend({letItSnow:function(r){var i={particleMaxPer:400,particlaSize:[.2,6],particleOpacity:[.3,1],particleSpeed:[30,100],particleSinus:[1,100]};return"destroy"!=r&&"stop"!=r&&"play"!=r&&"summer"!=r&&"winter"!=r&&(r=e.extend(!0,{},i,r)),this.each(function(){if(-1!=e.inArray(r,["destroy","stop","play","winter","summer"])){switch(r){case"destroy":r=e(this).data("snowflakes"),r!=s&&a(r);break;case"stop":r=e(this).data("snowflakes"),r!=s&&(r.pause=!0);break;case"play":r=e(this).data("snowflakes"),r!=s&&(r.pause=!1,t(r));break;case"summer":r=e(this).data("snowflakes"),r!=s&&(r.summer=!0);break;case"winter":r=e(this).data("snowflakes"),r!=s&&(r.summer=!1)}return!1}return r.c=e(this),r.sc=r.selector!=s?e(this).find(r.selector):r.c,0==r.sc.length?!1:r.c.data("snowflakes")!=s?!1:(r.sc.find(".snowflakes_wrapper").remove(),r.sc.append('<div class="snowflakes_wrapper" style="position:relative;z-index:0"><div class="snowflakes_wrapper_inner" style="overflow:hidden;position:relative"><canvas width="2700" height="2500" style="position:relative;" class="snowflake_canvas"></canvas></div></div>'),r.sw=r.sc.find(".snowflakes_wrapper_inner"),r.sw.data("caller_container",r.c),r.canvas=r.sc.find(".snowflake_canvas"),r.dimension!=self?r.sizer=r.c:r.sizer=r.sc,r.w=r.sizer.width(),r.h=r.sizer.height(),r.sc.find(".snowflakes_wrapper_inner").css({width:r.w,height:r.h}),r.canvas=r.canvas[0],r.snowflakes=[],r.ctx=r.canvas.getContext("2d"),n(r),t(r),r.c.data("snowflakes",r),void e(window).resize(function(){clearTimeout(r.timer),r.timer=setTimeout(function(){r.w=r.sizer.width(),r.h=r.sizer.height(),r.sc.find(".snowflakes_wrapper_inner").css({width:r.w,height:r.h}),n(r)},50)}))})}})}(jQuery);
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_ready-big-day" ).after( "<div id='revslider_show_ready-big-day'></div>" );
                            jQuery( "#revslider_drag_ready-big-day" ).hide();
                            jQuery("#revslider_foot_ready-big-day").appendTo("#revslider_show_ready-big-day");
                            jQuery("#revslider_show_ready-big-day .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>