{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_home-refresh-mid-season-sale">
			<!-- START Home Refresh REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_45_1_wrapper" data-source="gallery" style="visibility:hidden;background:#f2f2f2;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_45_1" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-67" data-title="Slide 1" data-duration="9000" data-anim="ms:500ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#f2f2f2;" data-parallax="off" data-no-retina>
<!--						--><rs-zone id="rrzm_67" class="rev_row_zone_middle" style="z-index: 17;"><!--

								--><rs-row
									id="slider-45-slide-67-layer-5" 
									data-type="row"
									data-xy="xo:50px,50px,50px,11px;yo:94px,94px,94px,22px;"
									data-text="s:20,20,20,4;l:0,0,0,6;"
									data-cbreak="1"
									data-margin="t:0,0,0,10;r:60,60,60,15;b:0,0,0,370;l:60,60,60,15;"
									data-frame_999="st:w;sp:500;sR:8700;sA:9000;"
									style="z-index:1;"
								><!--
									--><rs-column
										id="slider-45-slide-67-layer-6" 
										data-type="column"
										data-xy="xo:50px;yo:94px;"
										data-text="a:center;"
										data-rsp_bd="off"
										data-column="w:100%;"
										data-frame_999="st:w;sp:500;sR:8700;sA:9000;"
										style="z-index:2;width:100%;"
									><!--
										--><rs-layer
											id="slider-45-slide-67-layer-7" 
											data-type="shape"
											data-rsp_ch="on"
											data-xy="xo:50px,50px,50px,11px;yo:50px,50px,50px,11px;"
											data-text="w:normal;s:20,20,20,4;c:both;l:0,0,0,6;"
											data-flcr="c:both;"
											data-dim="w:100%;h:10px;"
											data-vbility="f,f,f,t"
											data-frame_999="o:0;st:w;"
											style="z-index:3;"
										> 
										</rs-layer><!--

										--><rs-layer
											id="slider-45-slide-67-layer-9" 
											data-type="text"
											data-color="#222222"
											data-rsp_ch="on"
											data-text="w:nowrap,nowrap,nowrap,normal;s:80,80,80,50;l:80,80,80,50;ls:3px,3px,3px,2px;fw:600;a:center;"
											data-dim="w:auto,auto,auto,100%;"
											data-margin="l:15,15,15,0;"
											data-frame_0="o:1;"
											data-frame_999="st:w;sp:500;sR:5900;auto:true;"
											style="z-index:4;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
										>Home Refresh 
										</rs-layer><!--

										--><rs-layer
											id="slider-45-slide-67-layer-10" 
											data-type="text"
											data-color="#222222"
											data-rsp_ch="on"
											data-text="w:normal;s:42,42,42,26;l:30;ls:5px,5px,5px,3px;a:center;"
											data-dim="w:auto,auto,auto,100%;"
											data-margin="t:10,10,10,0;l:15,15,15,0;"
											data-frame_0="o:1;"
											data-frame_999="st:w;sp:500;sR:5900;auto:true;"
											style="z-index:5;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
										>Mid-Season Sale 
										</rs-layer><!--

										--><rs-layer
											id="slider-45-slide-67-layer-12" 
											data-type="text"
											data-color="#222222"
											data-rsp_ch="on"
											data-text="w:normal;s:32,32,32,22;l:22,22,22,25;ls:2px,2px,2px,1px;a:center;"
											data-dim="w:auto,auto,auto,100%;"
											data-margin="t:40,40,40,10;l:15,15,15,0;"
											data-frame_0="o:1;"
											data-frame_999="st:w;sp:500;sR:5900;auto:true;"
											style="z-index:6;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
										>up to 70% off + Express delivery 
										</rs-layer><!--

										--><rs-layer
											id="slider-45-slide-67-layer-20" 
											data-type="text"
											data-rsp_ch="on"
											data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,15;l:22,22,22,15;ls:2px,2px,2px,0px;a:left,left,left,center;"
											data-dim="w:359px,359px,359px,321px;h:65px,65px,65px,58px;"
											data-disp="inline-block"
											data-margin="t:40,40,40,10;"
											data-frame_0="o:1;"
											data-frame_999="st:w;sp:500;sR:5900;auto:true;"
											style="z-index:7;font-family:'DIN Next LT Arabic Regular';display:inline-block;"
										><img src="https://img1.niftyimages.com/f3r/072d/1rrr" width="100%" height="100%"> 
										</rs-layer><!--
									--></rs-column><!--
								--></rs-row><!--
							--></rs-zone><!--

							--><rs-layer
								id="slider-45-slide-67-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-170px,-170px,-170px,-42px;y:b;yo:-120px,-120px,-120px,-29px;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:950px,950px,950px,236px;h:800px,800px,800px,199px;"
								data-basealign="slide"
								data-frame_0="o:1;"
								data-frame_999="st:w;sp:500;sR:4500;auto:true;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_shapebg2.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-45-slide-67-layer-3" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:50px,50px,50px,-500px;y:m,m,m,b;yo:0,0,0,10px;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:572px,572px,572px,360px;h:588px,588px,588px,370px;"
								data-vbility="t,t,t,f"
								data-frame_0="o:1;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:500;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1018-eames-lounge-chair.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-45-slide-67-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:100px,100px,100px,8px;y:m,m,m,b;yo:0,0,0,20px;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:421px,421px,421px,259px;h:570px,570px,570px,350px;"
								data-frame_0="o:1;"
								data-frame_999="x:50,50,50,11;o:0;st:w;sp:500;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1018-wishbone.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-45-slide-67-layer-21" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:-330px,-330px,-330px,-82px;yo:-10px,-10px,-10px,-1px;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:950px,950px,950px,236px;h:800px,800px,800px,199px;"
								data-basealign="slide"
								data-btrans="rZ:180;"
								data-frame_0="o:1;"
								data-frame_999="st:w;sp:500;sR:5500;auto:true;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_shapebg2.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-back rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_45_1',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider451"]!==undefined) {window.RS_MODULES.modules["revslider451"].once = false;window.revapi45 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:600%7CDIN+Next+LT+Arabic+Regular:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi45;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider451"] = {init:function() {
			window.revapi45 = window.revapi45===undefined || window.revapi45===null || window.revapi45.length===0  ? document.getElementById("rev_slider_45_1") : window.revapi45;
			if(window.revapi45 === null || window.revapi45 === undefined || window.revapi45.length==0) { window.revapi45initTry = window.revapi45initTry ===undefined ? 0 : window.revapi45initTry+1; if (window.revapi45initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider451"].init()}); return;}
			window.revapi45 = jQuery(window.revapi45);
			if(window.revapi45.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_45_1"); return;}
			revapi45.revolutionInit({
					revapi:"revapi45",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,384,292,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					parallax: {
						levels:[5,10,15,20,25,30,35,40,45,50,-5,-10,-15,-20,-25,30],
						type:"scroll",
						origo:"slideCenter",
						speed:1000,
						speedls:1000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"80%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_home-refresh-mid-season-sale" ).after( "<div id='revslider_show_home-refresh-mid-season-sale'></div>" );
                            jQuery( "#revslider_drag_home-refresh-mid-season-sale" ).hide();
                            jQuery("#revslider_foot_home-refresh-mid-season-sale").appendTo("#revslider_show_home-refresh-mid-season-sale");
                            jQuery("#revslider_show_home-refresh-mid-season-sale .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>