{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_fab-feb-sale">
			<!-- START Fabulous Feb Sale REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(255,255,255,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-109" data-title="Slide 1" data-anim="d:5;ms:300ms;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-70-slide-109-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-540px,-540px,-540px,-175px;y:t,t,t,m;yo:-4px,-4px,-4px,80px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:297px,297px,297px,112px;h:531px,531px,531px,200px;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:300;sp:1000;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de021423_Flower-Pot-Black.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-70-slide-109-layer-18" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:540px,540px,540px,175px;y:t,t,t,m;yo:-4px,-4px,-4px,82px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:299px,299px,299px,114px;h:523px,523px,523px,200px;"
								data-basealign="slide"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:300;sp:1000;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de021423_Flower-Pot-Red.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-70-slide-109-layer-19" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-333px,-333px,-333px,-2000px;y:m;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:680px,680px,680px,337px;h:626px,626px,626px,310px;"
								data-frame_0="x:-50,-50,-50,-11;"
								data-frame_1="st:500;sp:1000;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de0214234_Heart-Chair-Black.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-70-slide-109-layer-20" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:-333px,-333px,-333px,0;y:m;yo:0,0,0,140px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:680px,680px,680px,315px;h:625px,625px,625px,290px;"
								data-basealign="slide"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="st:500;sp:1000;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de021423_Heart-Chair-Red.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-back rs-stl-visible"><!--

							--><rs-layer
								id="slider-70-slide-70-layer-6" 
								class="rs-layer-static"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;yo:-45px,-45px,-45px,-150px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:509px,509px,509px,330px;h:32px,32px,32px,21px;"
								data-onslides="s:-1;e:-1;"
								data-frame_999="o:0;st:w;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de021423_element_divider.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-70-slide-70-layer-7" 
								class="rs-layer-static"
								data-type="text"
								data-color="#d30000"
								data-rsp_ch="on"
								data-xy="x:c;yo:90px,90px,90px,20px;"
								data-text="w:normal,normal,normal,nowrap;s:110,110,110,68;l:90,90,90,50;ls:7px,7px,7px,3px;fw:900;a:center;"
								data-onslides="s:-1;e:-1;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:15;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Fabulous 
							</rs-layer><!--

							--><rs-layer
								id="slider-70-slide-70-layer-8" 
								class="rs-layer-static"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c,c,c,l;xo:-425px,-425px,-425px,10px;yo:-280px,-280px,-280px,1px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:138px,138px,138px,55px;h:510px,510px,510px,203px;"
								data-onslides="s:-1;e:-1;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="sp:600;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de021423_Heart-Red.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-70-slide-70-layer-10" 
								class="rs-layer-static"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c,c,c,r;xo:425px,425px,425px,10px;yo:-280px,-280px,-280px,1px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:141px,141px,141px,55px;h:510px,510px,510px,199px;"
								data-btrans="rY:180;"
								data-onslides="s:-1;e:-1;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:300;sp:600;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de021423_Heart-Black.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-70-slide-70-layer-11" 
								class="rs-layer-static"
								data-type="text"
								data-color="#1f1f1f||#1f1f1f||#1f1f1f||#000000"
								data-rsp_ch="on"
								data-xy="x:c;y:m;yo:60px,60px,60px,-115px;"
								data-text="s:44,44,44,25;l:34,34,34,35;ls:5px,5px,5px,3px;fw:400,400,400,500;a:center;"
								data-onslides="s:-1;e:-1;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Save Up To 70% Off! 
							</rs-layer><!--

							--><rs-layer
								id="slider-70-slide-70-layer-12" 
								class="rs-layer-static"
								data-type="text"
								data-color="#1f1f1f||#1f1f1f||#1f1f1f||#000000"
								data-rsp_ch="on"
								data-xy="x:c;yo:200px,200px,200px,85px;"
								data-text="s:72,72,72,44;l:52,52,52,25;ls:6px,6px,6px,2px;fw:600,600,600,500;a:center;"
								data-onslides="s:-1;e:-1;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:14;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>February Sale 
							</rs-layer><!--

							--><rs-layer
								id="slider-70-slide-70-layer-13" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;y:m;yo:170px,170px,170px,-60px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,320px;h:76px,76px,76px,58px;"
								data-onslides="s:-1;e:-1;"
								data-blendmode="darken"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:300;sp:600;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/7dar/yxer" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-70-slide-70-layer-21" 
								class="rs-layer-static"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-basealign="slide"
								data-onslides="s:-1;e:-1;"
								data-frame_0="o:1;"
								data-frame_1="e:none;sp:0;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de021423_bg.jpg" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi70 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:900%7CDIN+Next+LT+Arabic+Regular:400%2C500%2C600" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi70;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi70 = window.revapi70===undefined || window.revapi70===null || window.revapi70.length===0  ? document.getElementById("20") : window.revapi70;
			if(window.revapi70 === null || window.revapi70 === undefined || window.revapi70.length==0) { window.revapi70initTry = window.revapi70initTry ===undefined ? 0 : window.revapi70initTry+1; if (window.revapi70initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi70 = jQuery(window.revapi70);
			if(window.revapi70.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi70.revolutionInit({
					revapi:"revapi70",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_fab-feb-sale" ).after( "<div id='revslider_show_fab-feb-sale'></div>" );
                            jQuery( "#revslider_drag_fab-feb-sale" ).hide();
                            jQuery("#revslider_foot_fab-feb-sale").appendTo("#revslider_show_fab-feb-sale");
                            jQuery("#revslider_show_fab-feb-sale .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>