{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_summer-inspiration-1">
			<!-- START Home Refresh For Less REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(236,231,228,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-36" data-title="Slide 1" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_ders705-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-20-slide-36-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;y:b;yo:0,0,0,10px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['480px','480px','480px','480px'];h:480px,480px,480px,300px;"
								data-frame_0="rX:-70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;sp:500;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_ders705-1.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-36-layer-1" 
								data-type="text"
								data-color="#ff1000"
								data-rsp_ch="on"
								data-xy="x:c;xo:479px,479px,479px,0;y:t,t,t,m;yo:32px,32px,32px,-148px;"
								data-text="s:32,32,32,25;l:30;ls:2px;fw:600;a:center;"
								data-padding="b:4,4,4,0;"
								data-border="bos:dashed;boc:#ff1000;bow:0,0,2px,0;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:500;sp:1000;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:16;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>EXTENDED 24 HOURS 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-36-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:480px,480px,480px,0;y:b;yo:0,0,0,10px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['480px','480px','480px','480px'];h:480px,480px,480px,300px;"
								data-frame_0="rX:70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;st:250;sp:500;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_ders705-2.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-36-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:960px,960px,960px,0;y:b;yo:0,0,0,10px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['480px','480px','480px','480px'];h:480px,480px,480px,300px;"
								data-frame_0="rX:-70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;st:500;sp:500;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_ders705-3.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-36-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1440px,1440px,1440px,0;y:b;yo:0,0,0,10px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['480px','480px','480px','480px'];h:480px,480px,480px,300px;"
								data-frame_0="rX:70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;st:750;sp:500;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_ders705-4.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-36-layer-9" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:479px,479px,479px,0;y:t,t,t,m;yo:90px,90px,90px,52px;"
								data-text="s:34,34,34,27;l:30;ls:2px,2px,2px,1px;fw:400,400,400,500;a:center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:14;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>up to 60% off + Free delivery 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-36-layer-14" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:480px,480px,480px,0;y:t,t,t,b;yo:140px,140px,140px,152px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,360px;h:76px,76px,76px,65px;"
								data-blendmode="darken"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/ck1d/949d" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-36-layer-15" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-481px,-481px,-481px,0;yo:40px,40px,40px,179px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:80,80,80,55;l:80,80,80,55;ls:3px,3px,3px,1px;fw:900;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:15;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Home Refresh<br />
For Less 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-36-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-29px,-29px,-29px,0;y:t,t,t,m;yo:728px,728px,728px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-vbility="f,f,f,t"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_ders705-mobile-bgv2.jpg" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi20 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:600%2C400%2C500%2C900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi20;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi20 = window.revapi20===undefined || window.revapi20===null || window.revapi20.length===0  ? document.getElementById("20") : window.revapi20;
			if(window.revapi20 === null || window.revapi20 === undefined || window.revapi20.length==0) { window.revapi20initTry = window.revapi20initTry ===undefined ? 0 : window.revapi20initTry+1; if (window.revapi20initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi20 = jQuery(window.revapi20);
			if(window.revapi20.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi20.revolutionInit({
					revapi:"revapi20",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_summer-inspiration-1" ).after( "<div id='revslider_show_summer-inspiration-1'></div>" );
                            jQuery( "#revslider_drag_summer-inspiration-1" ).hide();
                            jQuery("#revslider_foot_summer-inspiration-1").appendTo("#revslider_show_summer-inspiration-1");
                            jQuery("#revslider_show_summer-inspiration-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>