{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_tech-slider1">
			<!-- START Home Refresh REVOLUTION SLIDER 6.5.6.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_15_1_wrapper" data-source="gallery" style="visibility:hidden;background:#f2e3bc;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_15_1" style="" data-version="6.5.6.13">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-27" data-title="Slide 1" data-duration="9000" data-anim="ms:500ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-15-slide-27-layer-3" 
								class="rs-pxl-13"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-160px,-160px,-160px,-500px;y:m,m,m,b;yo:30px,30px,30px,-70px;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:696px,696px,696px,450px;h:695px,695px,695px,449px;"
								data-vbility="t,t,t,f"
								data-frame_0="x:left;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:500;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Home-Refresh-eames-style-lounge-chair.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-15-slide-27-layer-11" 
								class="rs-pxl-13"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:10px,10px,10px,0;y:b;yo:-20px,-20px,-20px,-220px;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:518px,518px,518px,450px;h:695px,695px,695px,604px;"
								data-frame_0="x:right;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="x:50,50,50,11;o:0;st:w;sp:500;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Home-Refresh-wishbone.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-31" data-title="Slide 2" data-duration="9000" data-anim="ms:500ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-15-slide-31-layer-3" 
								class="rs-pxl-13"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-170px,-170px,-170px,800px;y:t,t,t,b;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:711px,711px,711px,450px;h:572px,572px,572px,362px;"
								data-vbility="t,t,t,f"
								data-frame_0="x:left;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:500;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Home-Refresh-pendant-lights.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-15-slide-31-layer-11" 
								class="rs-pxl-13"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,l;xo:-180px,-180px,-180px,20px;y:b;yo:0,0,0,-115px;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:703px,703px,703px,560px;h:646px,646px,646px,515px;"
								data-basealign="slide"
								data-frame_0="x:right;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="x:50,50,50,11;o:0;st:w;sp:500;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Home-Refresh-pelican-chair.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-32" data-title="Slide 3" data-duration="9000" data-anim="ms:500ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-15-slide-32-layer-3" 
								class="rs-pxl-13"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,r;xo:-480px,-480px,-480px,20px;y:m,m,m,b;yo:0,0,0,-90px;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['1011px','1011px','1011px','1011px'];h:['467px','467px','467px','467px'];"
								data-frame_0="x:left;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:500;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Home-Refresh-finn-juhl-sideboard.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-15-slide-32-layer-11" 
								class="rs-pxl-13"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:-250px,-250px,-250px,-800px;y:m,m,m,b;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['774px','774px','774px','774px'];h:['465px','465px','465px','465px'];"
								data-vbility="t,t,t,f"
								data-frame_0="x:right;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="x:50,50,50,11;o:0;st:w;sp:500;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Home-Refresh-lc2-style-sofa.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-back rs-stl-visible"><!--
						--><rs-zone id="rrzm_15" class="rev_row_zone_middle" style="z-index: 16;"><!--

								--><rs-row
									id="slider-15-slide-15-layer-13" 
									class="rs-layer-static"
									data-type="row"
									data-xy="xo:50px,50px,50px,11px;yo:94px,94px,94px,22px;"
									data-text="s:20,20,20,4;l:0,0,0,6;"
									data-cbreak="3"
									data-onslides="s:1;"
									data-margin="r:60,60,60,15;b:0,0,0,370;l:60,60,60,15;"
									data-frame_999="st:w;sp:500;sR:8700;sA:9000;"
									style="z-index:1;"
								><!--
									--><rs-column
										id="slider-15-slide-15-layer-14" 
										class="rs-layer-static"
										data-type="column"
										data-xy="xo:50px;yo:94px;"
										data-text="a:center;"
										data-rsp_bd="off"
										data-onslides="s:1;"
										data-column="w:100%;"
										data-frame_999="st:w;sp:500;sR:8700;sA:9000;"
										style="z-index:2;width:100%;"
									><!--
										--><rs-layer
											id="slider-15-slide-15-layer-0" 
											class="rs-layer-static"
											data-type="shape"
											data-rsp_ch="on"
											data-xy="xo:50px,50px,50px,11px;yo:50px,50px,50px,11px;"
											data-text="w:normal;s:20,20,20,4;c:both;l:0,0,0,6;"
											data-flcr="c:both;"
											data-dim="w:100%;h:10px;"
											data-vbility="f,f,f,t"
											data-onslides="s:1;"
											data-frame_999="o:0;st:w;"
											style="z-index:3;"
										> 
										</rs-layer><!--

										--><rs-layer
											id="slider-15-slide-15-layer-4" 
											class="rs-layer-static"
											data-type="text"
											data-color="#ea2a73"
											data-rsp_ch="on"
											data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,24;c:both;l:32,32,32,26;ls:3px,3px,3px,2px;fw:600;a:center;"
											data-flcr="c:both;"
											data-onslides="s:1;"
											data-disp="inline-block"
											data-margin="b:20,20,20,10;l:15,15,15,0;"
											data-padding="r:3;b:3,3,3,2;l:3;"
											data-border="bos:dotted;boc:#ea2a73;bow:0,0,2px,0;"
											data-ford="frame_0;frame_1;frame_2;frame_999;"
											data-frame_0="y:60px,60px,60px,14px;"
											data-frame_1="y:40px,40px,40px,9px;o:0.5;e:power2.in;st:1600;sp:750;sR:1100;"
											data-frame_999="st:w;sp:500;sR:5900;auto:true;"
											data-frame_2="y:0px;o:1;oX:50%;oY:50%;oZ:0;tp:600px;e:power2.out;st:2350;sp:1250;"
											style="z-index:4;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;display:inline-block;"
										>24 Hours Extended 
										</rs-layer><!--

										--><rs-layer
											id="slider-15-slide-15-layer-15" 
											class="rs-layer-static"
											data-type="text"
											data-color="#222222"
											data-rsp_ch="on"
											data-text="w:nowrap,nowrap,nowrap,normal;s:80,80,80,50;l:80,80,80,50;ls:3px,3px,3px,2px;fw:600;a:center;"
											data-dim="w:auto,auto,auto,100%;"
											data-onslides="s:1;"
											data-margin="l:15,15,15,0;"
											data-ford="frame_0;frame_1;frame_2;frame_999;"
											data-frame_0="y:60px,60px,60px,14px;"
											data-frame_1="y:40px,40px,40px,9px;o:0.5;e:power2.in;st:1100;sp:750;sR:1100;"
											data-frame_999="st:w;sp:500;sR:5900;auto:true;"
											data-frame_2="y:0px;o:1;oX:50%;oY:50%;oZ:0;tp:600px;e:power2.out;st:1850;sp:1250;"
											style="z-index:5;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
										>Home Refresh 
										</rs-layer><!--

										--><rs-layer
											id="slider-15-slide-15-layer-16" 
											class="rs-layer-static"
											data-type="text"
											data-color="#222222"
											data-rsp_ch="on"
											data-text="w:normal;s:42,42,42,26;l:30;ls:5px,5px,5px,3px;a:center;"
											data-dim="w:auto,auto,auto,100%;"
											data-onslides="s:1;"
											data-margin="t:10,10,10,0;l:15,15,15,0;"
											data-ford="frame_0;frame_1;frame_2;frame_999;"
											data-frame_0="y:60px,60px,60px,14px;"
											data-frame_1="y:40px,40px,40px,9px;o:0.5;e:power2.in;st:1100;sp:750;sR:1100;"
											data-frame_999="st:w;sp:500;sR:5900;auto:true;"
											data-frame_2="y:0px;o:1;oX:50%;oY:50%;oZ:0;tp:600px;e:power2.out;st:1850;sp:1250;"
											style="z-index:6;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
										>Summer Clearance Sale 
										</rs-layer><!--

										--><rs-layer
											id="slider-15-slide-15-layer-17" 
											class="rs-layer-static"
											data-type="text"
											data-color="#222222"
											data-rsp_ch="on"
											data-text="w:normal;s:32,32,32,22;l:22,22,22,25;ls:2px,2px,2px,1px;a:center;"
											data-dim="w:auto,auto,auto,100%;"
											data-onslides="s:1;"
											data-margin="t:40,40,40,10;l:15,15,15,0;"
											data-ford="frame_0;frame_1;frame_2;frame_999;"
											data-frame_0="y:60px,60px,60px,14px;"
											data-frame_1="y:40px,40px,40px,9px;o:0.5;e:power2.in;st:1100;sp:750;sR:1100;"
											data-frame_999="st:w;sp:500;sR:5900;auto:true;"
											data-frame_2="y:0px;o:1;oX:50%;oY:50%;oZ:0;tp:600px;e:power2.out;st:1850;sp:1250;"
											style="z-index:7;font-family:'DIN Next LT Arabic Regular';"
										>Save up to 60% off + Free delivery 
										</rs-layer><!--

										--><rs-layer
											id="slider-15-slide-15-layer-18" 
											class="rs-layer-static"
											data-type="text"
											data-rsp_ch="on"
											data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,15;l:22,22,22,15;ls:2px,2px,2px,0px;a:left,left,left,center;"
											data-dim="w:359px,359px,359px,321px;h:65px,65px,65px,58px;"
											data-onslides="s:1;"
											data-disp="inline-block"
											data-margin="t:40,40,40,10;"
											data-ford="frame_0;frame_1;frame_2;frame_999;"
											data-frame_0="y:60px,60px,60px,14px;"
											data-frame_1="y:40px,40px,40px,9px;o:0.5;e:power2.in;st:1100;sp:750;sR:1100;"
											data-frame_999="st:w;sp:500;sR:5900;auto:true;"
											data-frame_2="y:0px;o:1;oX:50%;oY:50%;oZ:0;tp:600px;e:power2.out;st:1850;sp:1250;"
											style="z-index:8;font-family:'DIN Next LT Arabic Regular';display:inline-block;"
										><img src="https://img1.niftyimages.com/f3r/fujd/ennd" width="100%" height="100%"> 
										</rs-layer><!--
									--></rs-column><!--
								--></rs-row><!--
							--></rs-zone><!--

							--><rs-layer
								id="slider-15-slide-15-layer-2" 
								class="rs-pxl-4 rs-layer-static"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-170px,-170px,-170px,-41px;y:b;yo:-120px,-120px,-120px,-29px;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:950px,950px,950px,236px;h:800px,800px,800px,199px;"
								data-basealign="slide"
								data-onslides="s:1;"
								data-frame_0="x:left;y:bottom;o:1;"
								data-frame_1="e:power4.out;st:500;sp:4000;sR:500;"
								data-frame_999="st:w;sp:500;sR:4500;auto:true;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_shapebg1.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-15-slide-15-layer-19" 
								class="rs-pxl-4 rs-layer-static"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:-330px,-330px,-330px,-82px;yo:-10px,-10px,-10px,-1px;"
								data-text="s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:950px,950px,950px,236px;h:800px,800px,800px,199px;"
								data-basealign="slide"
								data-btrans="rZ:180;"
								data-onslides="s:1;"
								data-frame_0="x:left;y:bottom;o:1;"
								data-frame_1="e:power4.out;st:500;sp:4000;sR:500;"
								data-frame_999="st:w;sp:500;sR:5500;auto:true;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_shapebg1.jpg" data-no-retina> 
							</rs-layer><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_15_1',rl:[1240,1240,1240,480],el:[720,720,720,650],gw:[1920,1920,1920,480],gh:[720,720,720,650],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider151"]!==undefined) {window.RS_MODULES.modules["revslider151"].once = false;window.revapi15 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:600%7CDIN+Next+LT+Arabic+Regular:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.bullet-bar .tp-bullet{}.bullet-bar .tp-bullet:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.bullet-bar .tp-bullet{width:60px;height:3px;position:absolute;background:#aaa;  background:rgba(204,204,204,0.5);cursor:pointer;box-sizing:content-box}.bullet-bar .tp-bullet:hover,.bullet-bar .tp-bullet.selected{background:rgba(204,204,204,1)}.bullet-bar .tp-bullet-image{}.bullet-bar .tp-bullet-title{}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi15;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider151"] = {init:function() {
			window.revapi15 = window.revapi15===undefined || window.revapi15===null || window.revapi15.length===0  ? document.getElementById("rev_slider_15_1") : window.revapi15;
			if(window.revapi15 === null || window.revapi15 === undefined || window.revapi15.length==0) { window.revapi15initTry = window.revapi15initTry ===undefined ? 0 : window.revapi15initTry+1; if (window.revapi15initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider151"].init()}); return;}
			window.revapi15 = jQuery(window.revapi15);
			if(window.revapi15.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_15_1"); return;}
			revapi15.revolutionInit({
					revapi:"revapi15",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,650",
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,384,292,650",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true
						},
						bullets: {
							enable:true,
							tmp:"",
							style:"bullet-bar",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[5,10,15,20,25,30,35,40,45,50,-5,-10,-15,-20,-25,30],
						type:"scroll",
						origo:"slideCenter",
						speed:1000,
						speedls:1000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"80%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_tech-slider1" ).after( "<div id='revslider_show_tech-slider1'></div>" );
                            jQuery( "#revslider_drag_tech-slider1" ).hide();
                            jQuery("#revslider_foot_tech-slider1").appendTo("#revslider_show_tech-slider1");
                            jQuery("#revslider_show_tech-slider1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>