{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_uk-danish-classics">
			<!-- START Danish Classics For Less REVOLUTION SLIDER 6.5.6.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(236,231,228,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.13">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-4" data-title="Day" data-anim="ms:300ms;" data-filter="e:late3;h:400;" data-in="o:0;e:power1.in;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_DE-Danish-Classics-desktop-day.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-3-slide-4-layer-16" 
								class="lightsensor tp-shape tp-shapewrapper"
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:1183px,1183px,1183px,207px;yo:21px,21px,21px,272px;"
								data-dim="w:197px,197px,197px,85px;h:181px,181px,181px,74px;"
								data-actions='o:click;a:jumptoslide;slide:next;'
								data-border="bor:500px,500px,500px,500px;"
								data-frame_0="o:1;"
								data-frame_999="o:0;e:power4.in;st:w;sp:1000;"
								data-loop_999="sp:4000;e:linearEaseNone;yym:t;yys:t;yyf:t;"
								style="z-index:10;cursor:pointer;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-4-layer-19" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-570px,-570px,-570px,0;y:b;yo:57px,57px,57px,10px;"
								data-text="s:12,12,12,-4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:424px,424px,424px,316px;h:73px,73px,73px,auto;"
								data-basealign="slide"
								data-blendmode="difference"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:450;"
								data-frame_999="o:0;e:default;st:w;sR:6700;"
								style="z-index:11;font-family:'Roboto';"
							><img class="mcnImage" src="https://img1.niftyimages.com/f3r/3vcd/5wwd" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-4-layer-21" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:c;xo:-570px,-570px,-570px,0;yo:52px,52px,52px,15px;"
								data-text="w:normal;s:80,80,80,42;l:80,80,80,40;fw:900;a:center;"
								data-dim="w:680px,680px,680px,80%;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:17;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Danish classics for less 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-4-layer-22" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:c,c,c,r;xo:-780px,-780px,-780px,324px;y:t,t,t,m;yo:256px,256px,256px,-151px;"
								data-text="s:40,40,40,24;l:40,40,40,24;fw:500;a:right;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:150;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:15;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Up to 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-4-layer-23" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:138px,138px,138px,-79px;yo:81px,81px,81px,287px;"
								data-text="l:22;"
								data-dim="w:100px,100px,100px,80px;h:29px,29px,29px,23px;"
								data-actions='o:click;a:jumptoslide;slide:next;'
								data-basealign="slide"
								data-btrans="rZ:180;"
								data-frame_0="x:50px;sX:0.2;sY:0.2;"
								data-frame_1="e:back.out;st:750;sp:500;"
								data-frame_999="st:w;auto:true;"
								data-loop_0="xR:1px;yR:1px;oX:50;oY:50;"
								data-loop_999="xR:1px;yR:1px;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:18;cursor:pointer;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/arrow1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-4-layer-24" 
								class="Agency-ArrowTooltip"
								data-type="text"
								data-color="#444444||#444444||#444444||rgba(51,51,51,1)"
								data-rsp_ch="on"
								data-xy="x:c;xo:150px,150px,150px,-76px;yo:121px,121px,121px,312px;"
								data-text="s:15;l:20;"
								data-actions='o:click;a:jumptoslide;slide:next;'
								data-basealign="slide"
								data-frame_0="sX:0.5;sY:0.5;"
								data-frame_1="e:back.out;st:900;sp:1000;"
								data-frame_999="st:w;auto:true;"
								data-loop_0="xR:1px;yR:1px;oX:50;oY:50;"
								data-loop_999="xR:1px;yR:1px;crd:t;sp:1500;yys:t;yyf:t;"
								style="z-index:19;font-family:'Permanent Marker';cursor:pointer;"
							>Switch On 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-4-layer-25" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:c,c,c,l;xo:-365px,-365px,-365px,322px;y:t,t,t,m;yo:266px,266px,266px,-151px;"
								data-text="s:40,40,40,24;l:40,40,40,24;fw:500;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:150;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>% off 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-4-layer-26" 
								data-type="text"
								data-color="#262626"
								data-rsp_ch="on"
								data-xy="x:c;xo:-570px,-570px,-570px,0;yo:519px,519px,519px,228px;"
								data-text="w:normal;s:45,45,45,24;l:45,45,45,24;ls:0,0,0,2px;a:center;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:300;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>LIMITED STOCK 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-4-layer-29" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-570px,-570px,-570px,0;yo:261px,261px,261px,110px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:280px,280px,280px,140px;h:208px,208px,208px,104px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:150;"
								data-frame_999="o:0;st:w;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_DE50-black.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-4-layer-30" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-29px,-29px,-29px,0;y:t,t,t,m;yo:728px,728px,728px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-vbility="f,f,f,t"
								data-frame_1="e:power4.inOut;"
								data-frame_999="o:0;e:power4.inOut;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_DE-Danish-Classics-Mobile-Day.jpg" data-c="cover" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-6" data-title="Night" data-anim="ms:300ms;" data-filter="e:late3;h:400;" data-in="o:0;e:power1.in;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_DE-Danish-Classics-desktop-night.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-3-slide-6-layer-16" 
								class="lightsensor tp-shape tp-shapewrapper"
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:1183px,1183px,1183px,207px;yo:21px,21px,21px,272px;"
								data-dim="w:197px,197px,197px,85px;h:181px,181px,181px,74px;"
								data-actions='o:click;a:jumptoslide;slide:next;'
								data-border="bor:500px,500px,500px,500px;"
								data-frame_0="o:1;"
								data-frame_999="o:0;e:power4.in;st:w;sp:1000;"
								data-loop_999="sp:4000;e:linearEaseNone;yym:t;yys:t;yyf:t;"
								style="z-index:10;cursor:pointer;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-6-layer-19" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-570px,-570px,-570px,0;y:b;yo:57px,57px,57px,10px;"
								data-text="s:12,12,12,-4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:424px,424px,424px,316px;h:73px,73px,73px,auto;"
								data-basealign="slide"
								data-blendmode="screen"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:450;"
								data-frame_999="o:0;e:default;st:w;sR:6700;"
								style="z-index:11;font-family:'Roboto';"
							><img class="mcnImage" src="https://img1.niftyimages.com/f3r/3vcd/5wwd" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-6-layer-21" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-570px,-570px,-570px,0;yo:52px,52px,52px,15px;"
								data-text="w:normal;s:80,80,80,42;l:80,80,80,40;fw:900;a:center;"
								data-dim="w:680px,680px,680px,80%;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:17;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Danish classics for less 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-6-layer-22" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c,c,c,r;xo:-780px,-780px,-780px,324px;y:t,t,t,m;yo:256px,256px,256px,-151px;"
								data-text="s:40,40,40,24;l:40,40,40,24;fw:500;a:right;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:150;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:15;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Up to 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-6-layer-23" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:138px,138px,138px,-79px;yo:81px,81px,81px,287px;"
								data-text="l:22;"
								data-dim="w:100px,100px,100px,80px;h:29px,29px,29px,23px;"
								data-actions='o:click;a:jumptoslide;slide:previous;'
								data-basealign="slide"
								data-btrans="rX:180;rY:180;rZ:180;"
								data-frame_0="x:50px;sX:0.2;sY:0.2;"
								data-frame_1="e:back.out;st:750;sp:500;"
								data-frame_999="st:w;auto:true;"
								data-loop_0="xR:1px;yR:1px;oX:50;oY:50;"
								data-loop_999="xR:1px;yR:1px;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:18;cursor:pointer;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_arrow-white.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-6-layer-24" 
								class="Agency-ArrowTooltip"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:150px,150px,150px,-76px;yo:121px,121px,121px,312px;"
								data-text="s:15;l:20;ls:1px;"
								data-actions='o:click;a:jumptoslide;slide:previous;'
								data-basealign="slide"
								data-frame_0="sX:0.5;sY:0.5;"
								data-frame_1="e:back.out;st:900;sp:1000;"
								data-frame_999="st:w;auto:true;"
								data-loop_0="xR:1px;yR:1px;oX:50;oY:50;"
								data-loop_999="xR:1px;yR:1px;crd:t;sp:1500;yys:t;yyf:t;"
								style="z-index:19;font-family:'Permanent Marker';cursor:pointer;"
							>Switch Off 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-6-layer-25" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c,c,c,l;xo:-365px,-365px,-365px,322px;y:t,t,t,m;yo:266px,266px,266px,-151px;"
								data-text="s:40,40,40,24;l:40,40,40,24;fw:500;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:150;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>% off 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-6-layer-26" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-570px,-570px,-570px,0;yo:519px,519px,519px,228px;"
								data-text="w:normal;s:45,45,45,24;l:45,45,45,24;ls:0,0,0,2px;a:center;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:300;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>LIMITED STOCK 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-6-layer-29" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-570px,-570px,-570px,0;yo:261px,261px,261px,110px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:280px,280px,280px,140px;h:208px,208px,208px,104px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:150;"
								data-frame_999="o:0;st:w;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_DE50-white.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-6-layer-30" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-29px,-29px,-29px,0;y:t,t,t,m;yo:728px,728px,728px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-vbility="f,f,f,t"
								data-frame_1="e:power4.inOut;"
								data-frame_999="o:0;e:power4.inOut;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_DE-Danish-Classics-Mobile-night.jpg" data-c="cover" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi3 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:900%2C500%2C400%2C700%7CPermanent+Marker:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi3;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi3 = window.revapi3===undefined || window.revapi3===null || window.revapi3.length===0  ? document.getElementById("20") : window.revapi3;
			if(window.revapi3 === null || window.revapi3 === undefined || window.revapi3.length==0) { window.revapi3initTry = window.revapi3initTry ===undefined ? 0 : window.revapi3initTry+1; if (window.revapi3initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi3 = jQuery(window.revapi3);
			if(window.revapi3.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi3.revolutionInit({
					revapi:"revapi3",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					stopAtSlide:1,
					stopAfterLoops:0,
					stopLoop:true,
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_uk-danish-classics" ).after( "<div id='revslider_show_uk-danish-classics'></div>" );
                            jQuery( "#revslider_drag_uk-danish-classics" ).hide();
                            jQuery("#revslider_foot_uk-danish-classics").appendTo("#revslider_show_uk-danish-classics");
                            jQuery("#revslider_show_uk-danish-classics .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>