<div class="share-icons">
  <a title="{{ 'social.icons.facebook' | t }}" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}{% if template contains 'blog' or template == 'article' %}{{ article.url }}{% else %}{{ product.url }}{% endif %}" class="facebook" target="_blank"><i class="fab fa-facebook-f la-2x" aria-hidden="true"></i></a>
  <a title="{{ 'social.icons.twitter' | t }}"  href="//twitter.com/intent/tweet?text={{ shop.url | append: share_permalink }}{% if template contains 'blog' or template == 'article' %}{{ article.url }}{% else %}{{ product.url }}{% endif %}" title="Share on Twitter" target="_blank" class="twitter"><i class="la la-twitter la-2x" aria-hidden="true"></i></a>
  {% if template contains 'blog' or template contains 'article' %}
    {% if article.image %}
      <a title="{{ 'social.icons.pinterest' | t }}" target="blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}{{ article.url }}&amp;media={{ article.image.src | img_url: 'grande' | prepend: 'http:' }}" title="Pin This Article" class="pinterest"><i class="la la-pinterest la-2x" aria-hidden="true"></i></a>
    {% endif %}
  {% endif %}
  {% if template contains 'product' or template contains 'index' %}
    <a title="{{ 'social.icons.pinterest' | t }}" target="blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}{{ product.url }}&amp;media={{ product.featured_media | img_url: '1024x1024' | prepend: 'http:' }}" title="Pin This Product" class="pinterest"><i class="la la-pinterest la-2x" aria-hidden="true"></i></a>
  {% endif %}
</div>
