<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head><!-- <bablic_snippet> --><script src="//d.bablic.com/snippet/60c0a4cded07dc00010fb888.js?version=4.0"></script><!-- </bablic_snippet> -->

  <meta charset="utf-8" />

  {% render 'social-media-meta-tags' %}
  {% render 'structured-data' %}

    <!-- SEO
  ================================================== -->
  <title>
    {% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />

    <!-- CSS
  ================================================== -->

  {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
  {{ 'queries.css' | asset_url | stylesheet_tag }}

  {% render 'css-variables' %}

    <!-- JS
  ================================================== -->

  {{ "//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" | script_tag }}
  {{ "eventemitter3.min.js" | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {% include 'globo.filter.script' %}{{ content_for_header }}


  <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% render 'reamaze-config' %}
{% render 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->


  {% render 'shogun-head' %}
{% include 'add_header_assets' %}</head>

<body class="gridlock {{ template | handleize }} js-slideout-toggle-wrapper">

  <div class="js-slideout-overlay site-overlay"></div>

  <main class="password-page__wrapper lazyload lazyfade"
    {% if section.settings.background_image %}
    data-bgset="{% render 'bgset', image: section.settings.background_image %}"
    data-sizes="auto"
    {% endif %}>

    {{ content_for_layout }}

  </main>

  <aside class="slideout slideout__drawer-right" data-wau-slideout="password" id="password-slideout">
    <div class="slideout__trigger--close">
      <button class="slideout__trigger-password js-slideout-close" data-slideout-direction="right" aria-label="Close navigation" tabindex="0" type="button" name="button" aria-controls="slideout-password">
        <div class="icn-close"></div>
      </button>
    </div>
    <div class="password-page__login">
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for="password">{{ 'password.general.enter_store' | t }}</label>
        <input type="password" name="password" placeholder="{{ 'password.general.password' | t }}">
        <input type="submit" value="{{ 'password.general.enter' | t }}">
      {% endform %}
    </div>
  </aside>

  <!-- Ajax Cart -->
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% render 'ajax-cart-template' %}

  {% if settings.ajax_cart_method == 'drawer' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '[data-product-form]',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '.CartCount',
          cartCostSelector: '.CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
        });
        {% if settings.ajax_cart_method == 'drawer' %}
        jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
          // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
          timber.RightDrawer.open();
        });
        {% endif %}
        {% if settings.show_multiple_currencies %}
        jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
          // Convert currency when ajaxcart opens
          Currency.convertAll(shopCurrency, Currency.currentCurrency);
        });
        {% endif %}
    </script>
  {% else %}
    {% render 'ajaxify-cart' %}
  {% endif %}

  <!-- No JS -->
  <script>
    function loadJS(u) {
        var r = document.getElementsByTagName("script")[0],
            s = document.createElement("script");
        s.src = u;
        r.parentNode.insertBefore(s, r);
    }
  </script>
  <script>
      document.documentElement.className =
         document.documentElement.className.replace("no-js","js");
  </script>

  <!-- Responsive Images -->
  {{ 'ls.rias.min.js' | asset_url | script_tag }}
  {{ 'ls.bgset.min.js' | asset_url | script_tag }}
  {{ 'lazysizes.min.js' | asset_url | script_tag }}

  <script>
    if (!window.HTMLPictureElement) {
      loadJS("https://afarkas.github.io/lazysizes/plugins/respimg/ls.respimg.min.js");
    }
  </script>

  <!-- JS Variable Helpers -->
  <script>
      var template = {{ template | json }};
  </script>
{% include 'globo.filter.action' %}
	{% include 'add_footer_assets' %}</body>
</html>
