<div data-section-id="{{ section.id }}" data-section-type="article-section">
  {% assign current = article.handle %}
  <div data-aos="{{ settings.scroll_animation }}" class="single-article odd" id="blog-article-page">

    <div class="article-image">
      {% if article.image %}
        <a href="{{ article.url }}">
          {% render "basic-responsive-image", type: article.image %}
          <noscript>
            <img src="{{ article.image | img_url: '1024x' }}" alt="{{ article.image.alt }}">
          </noscript>
        </a>
      {% endif %}
    </div>

    <div class="article-body" data-aos="{{ settings.scroll_animation }}" data-aos-delay="300" data-aos-duration="1000">
      <div class="article-inner">
        <div class="section-title desktop-12 tablet-6 mobile-3">
          <h1>{{ article.title }}</h1>
        </div>
        <div class="post_meta">
          {% assign published_at = article.published_at | date: "%b %d, %Y" %}
            <span class="posted">
              {{ 'blogs.article.posted_on_date_html' | t: date: published_at }}
            </span>
            {% if section.settings.show_author %}
            <span class="posted_by">
              By {{ article.user.first_name }}
            </span>
          {% endif %}
          {% if article.tags.size > 0 and section.settings.post_tags %}
            <ul>
              {% for tag in article.tags %}
                <li class="tags">
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                    {{ tag }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      {% if section.settings.social %}
        {% render 'social' with article %}
      {% endif %}
    </div>

    <div class="{% if section.blocks.size >= 1 %}desktop-7 desktop-push-1 tablet-4 {% else %}desktop-8 desktop-push-2 tablet-6{% endif %} mobile-3" id="blog-post">
      <div class="rte">
        {{ article.content }}
      </div>
    </div>

    {% if section.blocks.size >= 1 %}
    <div class="desktop-3 tablet-2 mobile-hide" id="page_sidebar">
      {% for block in section.blocks %}
        {% if block.type == 'collection' %}
        <div class="blog-widget collection_side_block">
          {%- assign collection = collections[block.settings.collection] -%}
          {%- assign prod_limit = block.settings.limit -%}
          <h4>{{ collection.title }}</h4>
          {% for product in collection.products limit: prod_limit  %}
            <div class="product-index" id="prod-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">
              {% render 'product-listing' %}
            </div>
          {% endfor %}
        </div>
        {% elsif block.type == 'menu' %}
          <div class="sidebar_menu rte-accordion">
            <h4>{{ block.settings.title }}</h4>
            {% for link in linklists[block.settings.side_nav].links %}
              {% if link.links != blank %}
                <div class="extend has_sub_menu item" aria-haspopup="true" aria-expanded="false">
                  <input class="trigger" id="item-{{ forloop.index }}" type="checkbox" name="items">
                  <label class="accordion-label" for="item-{{ forloop.index }}"><span class="item-heading"><a href="{{ link.url }}">{{ link.title }}</a></span></label>
                  <div class="item-content">
                    {% for sub_link in link.links %}
                    <span class="item-heading"><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></span>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <span class="item-heading">{{ link.title | link_to: link.url }}</span>
              {% endif %}
            {% endfor %}
          </div>
        {% elsif block.type == 'recent_posts' %}
          <div class="blog-widget">
            <h4>{{ block.settings.title }}</h4>
              <ul class="side_recent_posts">
                {%- assign lim = block.settings.limit | plus: 1 -%}
                {% for article in blog.articles  limit: lim %}
                  {% unless article.handle == current %}
                  <li>
                    <p>
                      <strong>
                        <a href="{{ article.url }}">
                          {{ article.title }}
                        </a>
                      </strong>
                    </p>
                    <div class="recent-article-image">
                      {% if article.image %}
                        <a href="{{ article.url }}">
                          {% render "basic-responsive-image", type: article.image %}
                          <noscript>
                            <img src="{{ article.image | img_url: '200x' }}" alt="{{ article.image.alt }}">
                          </noscript>
                        </a>
                      {% endif %}
                    </div>
                  </li>
                  {% endunless %}
                {% endfor %}
              </ul>
          </div>
        {% elsif block.type == 'image' %}
          {%- assign image_size = '450x' -%}
          <div class="blog-widget image_container" {% if forloop.index == 1 %}style="margin-top:0;"{% endif %}>
            <a href="{{ block.settings.link }}">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: image_size }}" alt="{{ block.settings.image.alt }}">
              {% else %}
                {{ 'collection-3' | placeholder_svg_tag }}
              {% endif %}
            </a>
          </div>
        {% elsif block.type == 'text_note' %}
          <div class="blog-widget textnote_container">
            {% if block.settings.textbox_heading != blank %}<h4>{{ block.settings.textbox_heading }}</h4>{% endif %}
            {% if block.settings.textbox_subheading != blank %}
              <div class="subheading">
                {{ block.settings.textbox_subheading }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}


    {% if blog.comments_enabled? %}
    {% paginate article.comments by 20 %}
    <div id="comments">
      {% assign number_of_comments = article.comments_count %}

      <div class="desktop-7 tablet-3 mobile-3">
        <div class="section-title">
          <h3>
            {{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}
          </h3>
        </div>
        <ul id="commentlist">
          {% for comment in article.comments %}
            <li>
              <div class="comment-details">
                {{ comment.author }}: {{ comment.created_at | date: "%B %d, %Y" }}
              </div>
              <div class="gravatar desktop-1 mobile-1">
                <img src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" />
              </div>
              <div class="comment desktop-11 mobile-2">
                {{ comment.content }}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>

        <!-- Comment Form -->
    <div id="comment-form" class="desktop-5 tablet-3 mobile-3">
      {% form article %}
        <div class="section-title">
          <h3>{{ 'blogs.comments.title' | t }}</h3>
        </div>
        <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
        {% if form.posted_successfully? %}
          {% if blog.moderated? %}
            <div class="notice">
              {{ 'blogs.comments.success_moderated' | t }}
            </div>
          {% else %}
            <div class="notice">{{ 'blogs.comments.success' | t }}</div>
          {% endif %}
        {% endif %}

        {% if form.errors %}
          <div class="notice error">
            <p>{{ 'general.forms.post_error' | t }}</p>
            <ul class="disc">
              {% for field in form.errors %}
                {% if field == 'form' %}
                  <li>
                    {{ form.errors.messages[field] }}
                  </li>
                {% else %}
                  <li>
                    <strong>{{ field | replace: 'body', 'Message' }}</strong> {{ form.errors.messages[field] }}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <dl>
          <dt class="{% if form.errors contains 'author' %}error{% endif %}">
            <label for="comment_author">{{ 'blogs.comments.name' | t }}</label>
          </dt>
          <dd>
            <input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="{% if form.errors contains 'author' %}input-error{% endif %}" />
          </dd>

          <dt class="{% if form.errors contains 'email' %}error{% endif %}">
            <label for="comment_email">{{ 'blogs.comments.email' | t }}</label>
          </dt>
          <dd>
            <input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="{% if form.errors contains 'email' %}input-error{% endif %}" />
          </dd>

          <dt class="{% if form.errors contains 'body' %}error{% endif %}">
            <label for="comment_body">{{ 'blogs.comments.message' | t }}</label>
          </dt>
          <dd>
            <textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea>
          </dd>
        </dl>

        {% if blog.moderated? %}
          <p class="hint">{{ 'blogs.comments.moderated' | t }}</p>
        {% endif %}

        <input type="submit" value="{{ 'blogs.comments.post' | t }}" />
      {% endform %}
      </div>
      {% render 'pagination', paginate: paginate %}
    </div> {% comment %} End comments {% endcomment %}
    {% endpaginate %}
    {% endif %}

  </div>

  <div class="clear"></div>

  <div id="featured-articles" class="grid_wrapper" data-aos="{{ settings.scroll_animation }}">

  {% unless section.settings.featured_article_1 == blank and section.settings.featured_article_2 == blank and section.settings.featured_article_3 == blank %}
  <div class="section-title span-12">
    <h3>{{ section.settings.heading | escape }}</h3>
  </div>

    {% for i in (1..3) %}
      {%- assign article = 'featured_article_' | append: i -%}
      {%- assign article = section.settings[article] -%}
      {%- assign article = articles[article] -%}
      {% if article != blank and article.handle != current %}
        <div class="featured_article mobile-3 span-4">
          <h3>
            <a href="{{ article.url }}">
              {{ article.title }}
            </a>
          </h3>
          <div class="clear"></div>

          <div class="featured_article-image">
            {% if article.image %}
              <a href="{{ article.url }}">
                {% render "basic-responsive-image", type: article.image %}
                <noscript>
                  <img src="{{ article.image | img_url: '1024x' }}" alt="{{ article.image.alt }}">
                </noscript>
              </a>
            {% endif %}
          </div>
          <div class="rte">
            {% if article.excerpt != blank %}
              {{ article.excerpt }}
            {% else %}
              {% if shop.locale == "ia" %}{{ article.content | strip_html | truncatewords: 10000 }}{% else %}{{ article.content | strip_html | truncatewords: 30 }}{% endif %} <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
            {% endif %}
          </div>

          <div class="clear"></div>

          <div class="post_meta">
            {% assign published_at = article.published_at | date: "%b %d, %Y" %}
              <span class="posted">
                {{ 'blogs.article.posted_on_date_html' | t: date: published_at }}
              </span>
            {% if section.settings.show_author %}
              <span class="posted_by">
                &nbsp;By {{ article.user.first_name }}
              </span>
            {% endif %}
            {% if article.tags.size > 0 and section.settings.post_tags %}
              <ul>
                {% for tag in article.tags %}
                  <li class="tags">
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                      {{ tag }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
    {% endunless %}
  </div>


</div>
{% schema %}
  {
    "name": "Article",
    "max_blocks": 10,
    "settings": [
      {
        "type": "checkbox",
        "id": "post_tags",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show post author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social",
        "label": "Show social icons",
        "default": true
      },
      {
        "type":"header",
        "content":"Featured blog posts"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Featured posts heading",
        "default": "Featured posts",
        "info":"Visible with featured post content has been chosen"
      },
      {
        "label": "Article 1",
        "id": "featured_article_1",
        "type": "article"
      },
      {
        "label": "Article 2",
        "id": "featured_article_2",
        "type": "article"
      },
      {
        "label": "Article 3",
        "id": "featured_article_3",
        "type": "article"
      }
    ],
    "blocks": [
      {
       "type":"menu",
       "name":"Menu",
       "settings":[
         {
           "type": "link_list",
           "id": "side_nav",
           "label": "Sidebar menu",
           "info":"This menu has limited support for dropdown items"
         },
         {
           "type": "text",
           "id": "title",
           "label": "Menu title",
           "default": "Explore"
         }
       ]
      },
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
          {
            "type": "range",
            "id": "limit",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "Number of products",
            "default": 4
          }
        ]
      },
      {
       "type":"image",
       "name":"Image",
       "settings":[
         {
           "type":"image_picker",
           "id":"image",
           "label":"Image"
         },
         {
           "type":"url",
           "id":"link",
           "label":"Link",
           "info":"Optional"
         }
       ]
      },
      {
       "type":"text_note",
       "name":"Text",
       "settings":[
         {
           "type":"text",
           "id":"textbox_heading",
           "label":"Heading",
           "default": "Heading"
         },
         {
           "type":"richtext",
           "id":"textbox_subheading",
             "label":"Text content",
           "default": "<p>Additional content</p>"
         }
       ]
      }
    ]
  }
{% endschema %}
