{% paginate collection.products by 24 %}
    {% for product in collection.products %}
        <div class="tw-col-span-1 tw-animate__animated tw-animate__fadeIn" id="prod-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}"  data-product-id="{{ product.id }}">
            {% render 'product-listing', collection: collection, product: product %}
        </div>
    {% endfor %}
    {% if paginate.next %}
    <load-more-button class="tw-flex tw-justify-center tw-mx-auto tw-col-span-full" data-selector="#load-more-{{section.id}}">
        <a role="button" id="load-more-{{section.id}}" href="{{ paginate.next.url }}" class="tw-px-6 tw-animate-spin">
            <svg class=" tw-text-black tw-text-opacity-30 tw-w-7 tw-h-7" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke-width="4" stroke="currentColor"></circle>
                <path class="opacity-75" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z" fill="currentColor"></path>
            </svg>
        </a>
    </load-more-button>  
{% endif %}

{% endpaginate %}