{%- assign hd_locale_selector = false -%}
{%- assign hd_currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign hd_currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign hd_locale_selector = true -%}
{%- endif -%}

<header class="header-section tw-pb-[26px] lg:tw-pb-0 tw-relative tw-border-b tw-border-b-[#cecece] lg:tw-border-none tw-border-solid" data-section-id="{{ section.id }}" data-section-type="header-section" data-sticky="{{ section.settings.enable_sticky_header }}">
  {% if section.settings.show_announcement %}
    <div class="topbar">
      <div class="{% render '[class]-container' class: '' %} tw-flex tw-justify-center tw-items-center tw-truncate tw-text-xs tw-font-bold">
        {% if section.settings.top_nav != blank %}
          <ul class="tw-flex-1 tw-hidden lg:tw-block tw-list-none">
            <li>
              <b>
                <span>★ ★ ★ ★ ☆</span>
                {{ section.settings.announcement_bar_verified_reviews_number }}
                {{ 'strings.general.verified-reviews' | t }}</b>
            </li>
          </ul>
        {% endif %}
        <div class="tw-text-center">
          {% if section.settings.show_announcement and section.settings.announcement_text != blank %}
            {{ section.settings.announcement_text }}
          {% endif %}
        </div>
        <div class="tw-flex-1 tw-hidden lg:tw-block tw-text-right">
          {% if section.settings.show_announcement and section.settings.announcement_text1 != blank %}
            {{ section.settings.announcement_text1 }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  <div id="navigation" {% if section.settings.full_width_header %} class="gridlock-fluid" {% endif %}>
    <div class="{%- render '[class]-container' class: '' -%} tw-h-[74px] tw-flex tw-items-center ">
      <div class="tw-flex tw-w-full tw-gap-6 tw-justify-center"><!-- start nav container -->
        <search-trigger class="tw-bg-white tw-px-4 sm:tw-px-8 tw-pb-2 lg:tw-pb-0 tw-flex tw-flex-1 tw-absolute tw-left-0 tw-w-full tw-bottom-0 tw-items-center lg:tw-relative">
          <div class="js-search-reveal tw-z-20 searchreveal focus-within:block" id="search_reveal">
            <div class="tw-w-full tw-animate__animated tw-animate__fadeIn tw-bg-white z-[-1]">
              <predictive-search class="tw-block tw-relative tw-mx-auto">
                <form class="tw-relative tw-mx-auto tw-flex tw-items-center tw-gap-6 !tw-max-w-none lg:!tw-max-w-lg" action="{{ routes.search_url }}" method="get">
                  <input name="type" type="hidden" value="product">
                  <input class="tw-flex-1 tw-px-6 focus:tw-outline-none !tw-text-[16px] !tw-indent-0 !tw-m-0 !tw-h-[37px] !tw-leading-[37px]" type="search" name="q" id="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}" role="combobox" aria-expanded="false" aria-owns="predictive-search-results-list" aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false"/>
                  <div class="tw-flex tw-bg-white tw-max-w-[100px] tw-absolute tw-top-3 tw-bottom-3 tw-w-[100px] tw-right-6 ">
                    <input value="{{ 'general.search.submit' | t }}" name="submit" id="search_button" class="!tw-hidden button !tw-h-[30px] !tw-leading-[30px]" type="submit">
                  </div>
                  <div class="predictive-search predictive-search--header tw-absolute tw-top-full tw-left-0 tw-w-full tw-bg-white tw-shadow " data-predictive-search tabindex="-1">
                    <div class="predictive-search__loading-state">
                      <svg class="tw-w-5 tw-h-5 tw-mr-3 tw--ml-1 tw-text-white tw-animate-spin" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <circle class="tw-opacity-25" cx="12" cy="12" r="10" stroke-width="4" stroke="currentColor"></circle>
                        <path class="tw-opacity-75" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <span aria-hidden="true" class="predictive-search-status visually-hidden" role="status"></span>
                </form>

              </predictive-search>
            </div>
          </div>
          <a class="tw-w-full tw-bg-white lg:tw-p-0 tw-opacity-50 tw-text-opacity-50 min-w-[140px] lg:tw-pr-6 tw-leading-[32px] lg:tw-w-[unset] lg:tw-pl-2 py-2 tw-border-b tw-flex tw-gap-3 tw-items-baseline" href="#" id="search_trigger">
            <i aria-hidden="true" class="icon icon-search tw-h-[32px] !tw-flex tw-items-center"></i>
            <span class="tw-leading-[36px] tw-uppercase">{{ 'general.search.placeholder' | t }}</span>
          </a>
        </search-trigger>
        <div class="tw-flex-1 lg:tw-hidden tw-flex tw-items-center">
          <label aria-label="Open navigation" class="text-left tw-text-lg tw-m-0 tw-px-0 tw-text-black slideout__trigger-mobile-menu js-slideout-open" data-slideout-direction="right" data-wau-slideout-target="mobile-navigation" for="openMenuMobile" name="button" tabindex="0" type="button">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M904 160H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0 624H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0-312H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8z"></path></svg>
          </label>
        </div>

        {% render 'logo' %}
        <ul class="tw-flex-1 tw-justify-end tw-hidden lg:tw-block " id="cart">
          {% render 'shopping-cart-links', cart: cart, hd_locale_selector: hd_locale_selector, hd_currency_selector: hd_currency_selector %}
          <div class="tw-h-full tw-inline-flex tw-align-middle tw-items-center">
            {% render '[location]-dropdown'  class: '' %}
          </div>
        </ul>
        <div class="tw-flex-1 lg:tw-hidden tw-flex tw-justify-end ">
          {% render 'mobile-cart', cart: cart %}
        </div>

      </div><!-- end nav container -->
    </div>
  </div>
  <div class="tw-w-full tw-hidden lg:tw-flex tw-justify-center tw-isolate tw-pointer-events-none">
    <div class=" tw-w-full tw-border-b">
      <nav aria-label="Primary Navigation" class="{%- render '[class]-container' -%}tw-px-4 sm:tw-px-8 tw-pointer-events-auto">
        <ul class="navigation__menu tw-gap-x-[2%] !tw-max-w-none tw-min-h-[60px] tw-items-center tw-flex-wrap tw-bg-white tw-flex tw-justify-center tw-mx-auto" id="main-nav" role="menubar">
          {% for link in linklists[section.settings.main_nav].links %}
            {% render 'navigation', link: link %}
          {% endfor %}
          {% for block in section.blocks %}
            {% render '[navigation]-with-images',component:block link:block.settings.link heading: block.settings.menu_heading menu_items:block.settings.menu_item %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  <div class="tw-drawer tw-pointer-events-none lg:tw-hidden tw-absolute tw-inset-0 tw-top-[100px] tw-w-screen  tw-h-[calc(100vh-103px)]">
    <input class="tw-drawer-toggle" id="openMenuMobile" type="checkbox">
    <div class="tw-drawer-side ">
      <label class="tw-drawer-overlay" for="openMenuMobile"></label>
      <div class="tw-w-full tw-pointer-events-auto tw-absolute tw-inset-0 tw-flex tw-bg-white tw-overflow-auto tw-pb-[100px] tw-h-full tw-justify-center tw-isolate ">
        <ul class="tw-list-none tw-divide-y tw-w-full">
          {% for block in section.blocks %}
            <li>
              {% assign hadChildren = false %}
              {% assign items = block.settings.menu_item | split: ',' %}
              {% if items.size > 0 %}
                {% assign hadChildren = true %}

              {% endif %}
              {%- unless hadChildren -%}
                <div class=" tw-collapse-title tw-leading-[28px] group-focus:tw-bg-transparent">
                  <a href="{{block.settings.link}}">{{block.settings.menu_heading}}</a>
                </div>
              {% else %}
                <div class=" tw-collapse tw-pointer-events-none tw-group tw-collapse-arrow" tabindex="0">
                  <div class=" tw-collapse-title tw-leading-[28px] tw-pointer-events-auto group-focus:!tw-bg-transparent group-focus:!tw-pointer-events-none">
                    <a class="tw-pointer-events-auto" href="{{block.settings.link}}">{{block.settings.menu_heading}}</a>
                  </div>
                  <div class="tw-collapse-content tw-pointer-events-auto group-focus:!tw-bg-transparent tw-shadow-inner">
                    <ul class="tw-menu tw-menu-compact tw-w-full tw-divide-y tw-divide-opacity-50">
                      {% for item in items %}
                        <li>
                          <a class="tw-leading-none" href="/collections/{{ item | handleize }}">{{ item }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {%- endunless -%}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="phantom js-phantom tw-hidden {% if section.settings.header_cover and template == 'index' %}ignore-this{% endif %}" id="phantom"></div>

{% schema %}

{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width_header",
      "label": "Full width header"
    }, {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "label": "Enable sticky header",
      "default": true
    }, {
      "type": "checkbox",
      "id": "header_cover",
      "label": "Float header over slideshow"
    }, {
      "type": "checkbox",
      "id": "header_border",
      "label": "Add bottom border"
    }, {
      "type": "header",
      "content": "Announcement Bar"
    }, {
      "type": "text",
      "id": "announcement_bar_verified_reviews_number",
      "label": "Verified reviews number",
      "default": "100'S"
    }, {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    }, {
      "type": "richtext",
      "id": "announcement_text",
      "label": "Text",
      "default": "<p>Share a shop announcement or message</p>"
    }, {
      "type": "richtext",
      "id": "announcement_text1",
      "label": "Text right",
      "default": "<p>Share a shop announcement or message</p>"
    }, {
      "type": "range",
      "id": "announcement_text_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Text size",
      "default": 13
    }, {
      "type": "link_list",
      "id": "top_nav",
      "label": "Add additional links with a menu"
    }, {
      "type": "header",
      "content": "Cart Icon"
    }, {
      "type": "select",
      "id": "cart_position",
      "label": "Cart icon position",
      "options": [
        {
          "value": "announcement-bar",
          "label": "Announcement Bar"
        }, {
          "value": "header",
          "label": "Header"
        }
      ]
    }, {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    }, {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": false
    }, {
      "type": "header",
      "content": "Currency Selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    }, {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": false
    }, {
      "type": "header",
      "content": "Header Logo"
    }, {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "250px x 80px recommended"
    }, {
      "type": "image_picker",
      "id": "logo_alt",
      "label": "Alternative logo image",
      "info": "You can switch to an alternative logo when scrolling."
    }, {
      "id": "logoname",
      "type": "text",
      "label": "Logo Text"
    }, {
      "type": "range",
      "id": "logosize",
      "min": 10,
      "max": 65,
      "step": 1,
      "unit": "px",
      "label": "Logo Size text",
      "default": 20
    }, {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 250,
      "step": 5,
      "unit": "px",
      "label": "Custom logo width",
      "default": 200
    }, {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "options": [
        {
          "value": "above",
          "label": "Above navigation"
        }, {
          "value": "inline",
          "label": "Inline with navigation"
        }
      ]
    }, {
      "type": "select",
      "id": "logo_align",
      "label": "Logo alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        }, {
          "value": "center",
          "label": "Center"
        }
      ]
    }, {
      "type": "header",
      "content": "Navigation"
    }, {
      "type": "link_list",
      "id": "main_nav",
      "label": "Choose navigation menu",
      "default": "main-menu"
    }, {
      "type": "link_list",
      "id": "main_nav1",
      "label": "Choose navigation menu",
      "default": "main-menu"
    }, {
      "type": "checkbox",
      "id": "product_menu",
      "label": "Show products in drop downs",
      "info": "When your main nav item links to a collection, products from that are shown in any drop down menus"
    }
  ],
  "blocks": [
    {
      "type": "linkonly",
      "name": "linkonly",
      "settings": [
        {
          "type": "text",
          "id": "menu_heading",
          "label": "Heading"
        }, {
          "type": "url",
          "id": "url",
          "label": "Url",
          "default": "/"
        }
      ]
    }, {
      "type": "submenu_with_image",
      "name": "Submenu with image",
      "settings": [
        {
          "type": "text",
          "id": "menu_heading",
          "label": "Heading"
        }, {
          "type": "text",
          "id": "menu_item",
          "label": "Menu item",
          "info": "Enter menu item to add image to submenu (case-sensitive)"
        }, {
          "type": "image_picker",
          "id": "nav_image",
          "label": "Image"
        }, {
          "type": "image_picker",
          "id": "nav_image_secound",
          "label": "Image"
        }, {
          "type": "select",
          "id": "nav_image_position",
          "label": "Image position",
          "default": "right",
          "options": [
            {
              "value": "left",
              "label": "Left"
            }, {
              "value": "right",
              "label": "Right"
            }
          ]
        }, {
          "type": "text",
          "id": "link_text",
          "label": "Link text",
          "default": "Click here"
        }, {
          "type": "url",
          "id": "url",
          "label": "Url",
          "default": "/"
        }, {
          "type": "range",
          "id": "columns_number",
          "label": "Columns number",
          "unit": "col",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 3
        }
      ]
    }
  ]
}

{% endschema %}
