{%- assign hd_locale_selector = false -%}
{%- assign hd_currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
    {%- assign hd_currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
    {%- assign hd_locale_selector = true -%}
{%- endif -%}

<header class="header-section" data-section-id="{{ section.id }}" data-section-type="header-section" data-sticky="{{ section.settings.enable_sticky_header }}">

    {% if section.settings.top_nav != '' or section.settings.show_announcement or section.settings.cart_position == 'announcement-bar' %}
        {% assign top_bar = true %}
    {% endif %}

    {% unless top_bar == false %}
        <div class="topbar">
            <div class="{% render '[class]-container'  class: '' %} tw-flex tw-justify-center tw-items-center tw-truncate tw-text-xs tw-font-bold">
                {% if section.settings.top_nav != blank %}
                    <ul class="tw-flex-1 tw-hidden lg:tw-block tw-list-none" >
                        <li>
                            <b>
                                <span>★ ★ ★ ★ ☆</span>
                                {{ section.settings.announcement_bar_verified_reviews_number }}
                                {{ 'strings.general.verified-reviews' | t }}</b>
                        </li>
                    </ul>
                {% endif %}
                <div class="tw-text-center" >
                    {% if section.settings.show_announcement and section.settings.announcement_text != blank %}
                        {{ section.settings.announcement_text }}
                    {% endif %}
                </div>
                <div class="tw-flex-1 tw-hidden lg:tw-block tw-text-right" 
                    {% if section.settings.show_announcement and section.settings.announcement_text1 != blank %}
                        {{ section.settings.announcement_text1 }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endunless %}
    <div id="navigation" {% if section.settings.full_width_header %} class="gridlock-fluid" {% endif %}>
        <div class="{% render '[class]-container'  class: '' %} whi tw-flex tw-items-center">
            <div class="tw-flex tw-w-full"><!-- start nav container -->
                      <!-- Mobile menu trigger -->
              
                <nav aria-label="Primary Navigation" class="tw-flex-1 tw-hidden lg:tw-block">
                    <ul aria-label="Primary Navigation" class="navigation__menu " id="main-nav" role="menubar">
                        {% for link in linklists[section.settings.main_nav].links %}
                            {% render 'navigation', link: link %}
                        {% endfor %}
                    </ul>
                </nav>
                {% render 'logo' %}
                <ul class="tw-flex-1 tw-justify-end tw-hidden lg:tw-block" id="cart">
                  {% render 'shopping-cart-links', cart: cart, hd_locale_selector: hd_locale_selector, hd_currency_selector: hd_currency_selector %}
                  <div class="tw-h-full tw-inline-flex tw-align-middle tw-items-center">
                    {% render '[location]-dropdown'  class: '' %}
                  </div>
                </ul>
                <div class="tw-flex-1 lg:tw-hidden tw-flex tw-justify-end">
                  {% render 'mobile-cart', cart: cart %}
                </div>
                
            </div><!-- end nav container -->
        </div>
    </div>
    <div class="clear"></div>
   
    <div class="js-search-reveal searchreveal focus-within:block" id="search_reveal">
        <div class="tw-w-full tw-animate__animated tw-animate__fadeInUp tw-bg-white tw-shadow-lg z-[-1]">
            <predictive-search class="tw-max-w-xl tw-block tw-relative tw-mx-auto">
                <form class="tw-relative tw-mx-auto tw-flex tw-items-center tw-gap-6 " action="{{ routes.search_url }}" method="get">
                    <input name="type" type="hidden" value="product">
                    <input  class="tw-flex-1 tw-px-6 focus:tw-outline-none !tw-text-[16px] !tw-indent-0 !tw-m-0 !tw-h-[80px] !tw-leading-[80px]" type="search" name="q" id="q" placeholder="{{ 'general.search.placeholder' | t }}"
                        value="{{ search.terms | escape }}" 
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"/>
                    <div class=" tw-max-w-[100px] tw-absolute tw-top-3 tw-bottom-3 tw-w-[100px] tw-right-6">
                        <input value="{{ 'general.search.submit' | t }}" name="submit" id="search_button" class="button" type="submit">
                    </div>
                    <div class="predictive-search predictive-search--header tw-absolute tw-top-full tw-left-0 tw-w-full tw-bg-white tw-shadow-lg" tabindex="-1" data-predictive-search>
                        <div class="predictive-search__loading-state">
                          <svg class="tw-w-5 tw-h-5 tw-mr-3 tw--ml-1 tw-text-white tw-animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="tw-opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="tw-opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        </div>
                      </div>
                      <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true">
                        
                          
                      </span>
                </form>
                
            </predictive-search>
            
        </div>
        
    </div>
</header>
<div class="phantom js-phantom {% if section.settings.header_cover and template == 'index' %}ignore-this{% endif %}" id="phantom"></div>
<div class="clear"></div>


{% schema %}

{
    "name": "Header",
    "settings": [
        {
            "type": "checkbox",
            "id": "full_width_header",
            "label": "Full width header"
        }, {
            "type": "checkbox",
            "id": "enable_sticky_header",
            "label": "Enable sticky header",
            "default": true
        }, {
            "type": "checkbox",
            "id": "header_cover",
            "label": "Float header over slideshow"
        }, {
            "type": "checkbox",
            "id": "header_border",
            "label": "Add bottom border"
        }, {
            "type": "header",
            "content": "Announcement Bar"
        }, {
            "type": "text",
            "id": "announcement_bar_verified_reviews_number",
            "label": "Verified reviews number",
            "default": "100'S"
        }, {
            "type": "checkbox",
            "id": "show_announcement",
            "label": "Show announcement",
            "default": true
        }, {
            "type": "richtext",
            "id": "announcement_text",
            "label": "Text",
            "default": "<p>Share a shop announcement or message</p>"
        }, {
            "type": "richtext",
            "id": "announcement_text1",
            "label": "Text right",
            "default": "<p>Share a shop announcement or message</p>"
        }, {
            "type": "range",
            "id": "announcement_text_size",
            "min": 12,
            "max": 24,
            "step": 1,
            "unit": "px",
            "label": "Text size",
            "default": 13
        }, {
            "type": "link_list",
            "id": "top_nav",
            "label": "Add additional links with a menu"
        }, {
            "type": "header",
            "content": "Cart Icon"
        }, {
            "type": "select",
            "id": "cart_position",
            "label": "Cart icon position",
            "options": [
                {
                    "value": "announcement-bar",
                    "label": "Announcement Bar"
                }, {
                    "value": "header",
                    "label": "Header"
                }
            ]
        }, {
            "type": "header",
            "content": "Language Selector",
            "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
        }, {
            "type": "checkbox",
            "id": "show_locale_selector",
            "label": "Show language selector",
            "default": false
        }, {
            "type": "header",
            "content": "Currency Selector",
            "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
        }, {
            "type": "checkbox",
            "id": "show_currency_selector",
            "label": "Show currency selector",
            "default": false
        }, {
            "type": "header",
            "content": "Header Logo"
        }, {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image",
            "info": "250px x 80px recommended"
        }, {
            "type": "image_picker",
            "id": "logo_alt",
            "label": "Alternative logo image",
            "info": "You can switch to an alternative logo when scrolling."
        }, {
            "id": "logoname",
            "type": "text",
            "label": "Logo Text"
        }, {
            "type": "range",
            "id": "logosize",
            "min": 10,
            "max": 65,
            "step": 1,
            "unit": "px",
            "label": "Logo Size text",
            "default": 20
        }, {
            "type": "range",
            "id": "logo_max_width",
            "min": 100,
            "max": 250,
            "step": 5,
            "unit": "px",
            "label": "Custom logo width",
            "default": 200
        }, {
            "type": "select",
            "id": "logo_position",
            "label": "Logo position",
            "options": [
                {
                    "value": "above",
                    "label": "Above navigation"
                }, {
                    "value": "inline",
                    "label": "Inline with navigation"
                }
            ]
        }, {
            "type": "select",
            "id": "logo_align",
            "label": "Logo alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                }, {
                    "value": "center",
                    "label": "Center"
                }
            ]
        }, {
            "type": "header",
            "content": "Navigation"
        }, {
            "type": "link_list",
            "id": "main_nav",
            "label": "Choose navigation menu",
            "default": "main-menu"
        }, {
            "type": "link_list",
            "id": "main_nav1",
            "label": "Choose navigation menu",
            "default": "main-menu"
        }, {
            "type": "checkbox",
            "id": "product_menu",
            "label": "Show products in drop downs",
            "info": "When your main nav item links to a collection, products from that are shown in any drop down menus"
        }
    ],
    "blocks": [
        {
            "type": "submenu_with_image",
            "name": "Submenu with image",
            "settings": [
                {
                    "type": "text",
                    "id": "menu_item",
                    "label": "Menu item",
                    "info": "Enter menu item to add image to submenu (case-sensitive)"
                }, {
                    "type": "image_picker",
                    "id": "nav_image",
                    "label": "Image"
                }, {
                    "type": "select",
                    "id": "nav_image_position",
                    "label": "Image position",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        }, {
                            "value": "right",
                            "label": "Right"
                        }
                    ]
                }, {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        }, {
            "type": "mega_menu",
            "name": "Mega menu",
            "settings": [
                {
                    "type": "text",
                    "id": "menu_item",
                    "label": "Menu item",
                    "info": "Enter menu item to apply a mega menu"
                }, {
                    "type": "image_picker",
                    "id": "nav_image",
                    "label": "Featured image"
                }, {
                    "type": "url",
                    "id": "link",
                    "label": "Slide link"
                }
            ]
        }
    ]
}

{% endschema %}
