<div class=" tw-py-12
            {%- if section.settings.fullwidth -%}
            {%- render '[class]-container' fluid:true -%}
            {%- else -%}
            {%- render '[class]-container' -%}
            {%- endif -%}
            ">
  <div class="tw-text-left tw-flex tw-justify-center tw-items-baseline tw-w-full tw-mb-6" id="instagram-recomedations-title" style="display: none;">
    <h2 class="tw-font-bold tw-mb-0 tw-text-center">
			{% if section.settings.heading != blank %}
				{{ section.settings.heading }}
				{% else %}
				{{ 'strings.instagram.title' | t }}
			{% endif %}
        
    </h2>
  </div>
                           <style>
                          scrolling-arrow-left,scrolling-arrow-right{
                            display:block
                          }s
                          </style>
<scrolling-carousel class="tw-w-full tw-block tw-relative">
  <ul class="tw-carousel tw-carousel tw-gap-[1vw] tw-w-full " id="instagram-recomedations">
    <img class="lazyload-fade lazyautosizes lazyload" data-src="data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7" height="2px" onload="loadInstagramRecomedations()" width="2px"/>
  </ul>
  <scrolling-arrow-left hidden>
    <button class="tw-absolute  tw-text-gray-500 !tw-m-0  tw-items-center tw-justify-center tw-w-8 tw-h-8 tw-text-2xl tw-transform tw-rotate-180 tw-translate-y-1/2 tw-rounded-full tw-pointer-events-auto tw-bottom-1/2 tw-left-6 tw-bg-base-100 tw-bg-opacity-60 hover:tw-bg-opacity-100 hover:tw-shadow">
        <svg class="tw-m-auto" width="1em" height="1em" fill="none" stroke-width="0.03em" stroke="currentColor" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.14 14.74"><g ><polyline  points="0.74 14.07 6.79 7.41 0.74 0.67"/></g></svg>
    </button>
  </scrolling-arrow-left>
  <scrolling-arrow-right hidden>
    <button class="tw-absolute  tw-text-gray-500 !tw-m-0  tw-items-center tw-justify-center tw-w-8 tw-h-8 tw-text-2xl tw-translate-y-1/2 tw-rounded-full tw-pointer-events-auto tw-bottom-1/2 tw-right-6 tw-bg-base-100 tw-bg-opacity-60 hover:tw-bg-opacity-100 hover:tw-shadow">
        <svg class="tw-m-auto" width="1em" height="1em" fill="none" stroke-width="0.03em" stroke="currentColor" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.14 14.74"><g ><polyline points="0.74 14.07 6.79 7.41 0.74 0.67"/></g></svg>
    </button>
  </scrolling-arrow-right>
  </scrolling-carousel>
</div>

<script>

class ScrollingCarousel extends HTMLElement {
    constructor() {
        super();
        this.timer = null
        
        const handleIntersection = (entries, observer) => {
            if (!entries[0].isIntersecting) 
                return;
            
            observer.unobserve(this);
            this.start()
        }
        new IntersectionObserver(handleIntersection.bind(this), {
            rootMargin: '0px 0px 500px 0px'
        }).observe(this);
    }
    start  ()  {
        const timer = this.timer
        const sroller = this.querySelector('ul')
        const arrowLeft = this.querySelector('scrolling-arrow-left')
        const arrowRight = this.querySelector('scrolling-arrow-right')
        arrowRight.addEventListener('click', () => {
            sroller.scrollLeft = sroller.scrollLeft + sroller.clientWidth
        })
        arrowLeft.addEventListener('click', () => {
            sroller.scrollLeft = sroller.scrollLeft - sroller.clientWidth
        })

        const valid = () => {
            if (sroller.scrollLeft === 0) {
                arrowLeft.setAttribute('hidden', true)
            } else {
                arrowLeft.removeAttribute('hidden')
            }
            if (sroller.scrollLeft + sroller.clientWidth === sroller.scrollWidth) {
                arrowRight.setAttribute('hidden', true)
            } else {
                arrowRight.removeAttribute('hidden')
            }
        }
        sroller.addEventListener('scroll', () => {
            if (timer !== null) {
                clearTimeout(timer);
            }
            timer = setTimeout(valid, 150);
        }, false);

        valid()

    }
}
customElements.define('scrolling-carousel', ScrollingCarousel);

</script>
<script>
      function loadInstagramRecomedations(){
        const allfeed = {{ shop.metafields.instagram[shop.metafields.instagram.username.value].value | json }};
        const localOrigin = allfeed.localOrigin;
        let str = '';
        let show = false;
        let maxitems = {{ section.settings.maxitems | default: 6 }} * {{section.settings.maxrows | default: 2}};
         let count = 0;
        allfeed.data.forEach(postObj => {
            if(postObj.products.find(item=>item.includes('{{ product.id }}'))){
                count++;
                if(count>maxitems){
                    return
                }
                let imageUrl =`${localOrigin}/instagram-image?postId=${postObj.id}&username=${postObj.username}`
                str=str+`<li  style="max-width:calc((1200px - 3vw) / 4);scroll-snap-align:start" class="tw-group tw-relative tw-carousel-item"><a target="_blank" href="${postObj.permalink}" class="tw-w-[40vw] md:tw-w-[30vw] lg:tw-w-[23vw]">
                    <img src="${imageUrl}" loading="lazy" class="lazyload-fade lazyautosizes lazyload" data-src="${imageUrl}" data-sizes="auto" width="400" height="400" alt="{{shop.name}}"/>
                    <div class="tw-pointer-events-none tw-absolute tw-inset-0 tw-w-full tw-h-full tw-bg-black tw-bg-opacity-50 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-opacity tw-duration-700 tw-text-white tw-flex tw-justify-center tw-items-center">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
                    </div>
                </a></li>`;
                show = true;
            }
        });
        console.log({allfeed});
        if(show){
            document.getElementById('instagram-recomedations-title').style.display = 'block';
        }
        document.querySelector('#instagram-recomedations' ).innerHTML=str;
        const instagramslider = document.querySelector('scrolling-carousel');
        console.log({instagramslider});
        instagramslider.start()
    };
</script>

{% schema %}
{
    "name": "Instsagram Product",
    "settings": [
				{
					"type": "text",
					"id": "heading",
					"label": "Heading"
				},
        {
            "type": "checkbox",
            "id": "fullwidth",
            "label": "Fullwidth",
            "default": false
        },{
            "type": "range",
            "id": "maxrows",
            "label": "Max rows",
            "unit": "row",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 2
        }, 
       {
           "type": "range",
           "id": "maxitems",
           "label": "Max items per row", 
           "unit": "i",
           "min": 3,
           "max": 6,
           "step": 1,
           "default": 4
       },
      {
          "type": "range",
          "id": "gap",
          "label": "Space between items",
          "unit": "8px",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 2
      }
    ]
}

{% endschema %}