{%- if product.type == 'GSC_HIDDEN_PRODUCT' -%}
  {%- break -%}
{%- endif -%}
{% section 'product-template' %}
{% section 'product-three-section' %}
{% section 'drop-info' %}
{% section 'product-descriptions-section' %}
{% section 'product-recommendations' %}
<div class="row gridlock">
  <div id="product-reviews" class="{{ lower }}">
    <div class="section-title">
      <h3>{{ section.settings.reviews_heading }}</h3>
    </div>
    <div id="shopify-product-reviews" data-id="{{ product.id}}" data-aos="{{ settings.scroll_animation }}">
      {{ product.metafields.spr.reviews }}
    </div>
  </div>
</div>

<div  class="{% render '[class]-container' %} tw-py-12"> 
    <div style="display: none;" id="instagram-recomedations-title"  class="tw-text-left tw-flex tw-justify-center tw-items-baseline tw-w-full tw-mb-6">
        <h2 class="tw-font-bold tw-mb-0 tw-text-center">
            {{ 'strings.instagram.title' | t }}
        </h2>
    </div>
    <div id="instagram-recomedations" style="display: grid;justify-content: center; grid-template-columns: repeat(auto-fit, minmax(200px, 280px)); gap: 1rem;">
        <img width="2px" class="lazyload-fade lazyautosizes lazyload" height="2px" onload="loadInstagramRecomedations{{section.id}}()" data-src="data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7"/></div>
	</div>
<script>
    function loadInstagramRecomedations{{section.id}}(){
        let feed = Object.values({{ shop.metafields.instagram | json }}).filter(feed => feed.includes('{{product.id}}'));
        let str = '';
        feed.forEach(string => {
            const postObj =JSON.parse(string);
            let imageUrl = postObj.media_url
                str=str+`<a target="_blank" href="${postObj.permalink}" class="keen-slider__slide tw-group">
                    <img src=${imageUrl} loading="lazy" class="lazyload-fade lazyautosizes lazyload" data-src="${imageUrl}" data-sizes="auto" width="400" height="400" alt="{{shop.name}}"/>
                    <div class="tw-pointer-events-none tw-absolute tw-inset-0 tw-w-full tw-h-full tw-bg-black tw-bg-opacity-50 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-opacity tw-duration-700 tw-text-white tw-flex tw-justify-center tw-items-center">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
                    </div>
                </a>`
        });
        if(feed.length>0){
            document.getElementById('instagram-recomedations-title').style.display = 'block';
        }
        document.querySelector('#instagram-recomedations' ).innerHTML=str
    };
    
</script>

<div class="wil-instagram-shopify" data-id="124439"></div>

<style>
  
  input#AddToCart {
    background: black;
    font-size: 18px !important;
    text-transform: uppercase;
    border-radius: 0;
}
  .promotions {
    background: #f9f9f9;
    padding: 30px 0 0 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
    @media screen and (min-width: 768px)
    {
      
      div#thumbnails button.flickity-button.flickity-prev-next-button.next,div#thumbnails button.flickity-button.flickity-prev-next-button.previous {
    display: none;
}
  
      
  div#thumbnails .flickity-slider {
    left: 0% !important;
    right: 23% !important;
    margin: 0 auto;
    display: table;
    text-align: center;
}
    .product-right .section-title:after {
    position: absolute;
    content: "";
    width: 100%! important;
    height: 0px! important;
    background: #00000029;
    visibility: visible! important;
    left: 0;
    margin-left: 0;
    bottom: 10px;
}
      .price-item--sale {
    color: red !important;
    font-size: 24px;
}
      /* span.price-item.price-item--regular {
    font-size: 24px;
} */
dl#product-price {
    float: left;
    margin-right: 55px;
}
      
      #thumb-slider-wrapper .product-single__thumbnails-item img {
    object-fit: contain;
    object-position: center;
 
    margin-top: 0;
}
 #slider .flickity-prev-next-button.next {
    right: 0px !important;
    top: 50%;
    left: unset;
}#slider .flickity-prev-next-button {
 top: 50%;
}
  
  .horizontal-carousel #thumb-slider-wrapper .product-single__thumbnails-item img {
    width: 90px;
    height: 90px;
}
  
  .horizontal-carousel #thumb-slider-wrapper .product-single__thumbnails-item {
    float: left;
    width: 90px;
    height: 90px;
    margin-right: 0px;
    padding: 0;
    border: 0 !important;
}.promo-inner .caption p, .homepage-promo .caption p {
    margin-bottom: 8px;
}
  .lifestyle__text p {
    width: 60%;
    margin: 0 auto;
}
      
    }
  
  div#shopify-section-drop-info {
    display: none;
}
img.lifestyle__img.lazyloaded {
    width: 100%;
}
 
  .horizontal-carousel #thumb-slider-wrapper .product-single__thumbnails-item img {
    border: 1px solid #f3f3f3;
    padding: 6px;
}
  .product-single__thumbnail.product-single__thumbnail--product-template {
    margin-right: 3px;
}
  
  @media screen and (max-width: 768px) {
   h3.shopify_explorer_faq__question.h5.link {
    font-size: 15px;
     padding: 0 50px;
}
    h2.shopify_explorer_faq__separator.h3, h3.shopify_explorer_faq__question.h5.link {
    margin-bottom: 0px;

}
    .shopify_explorer_faq__item:not(:last-child) {
  margin-bottom: 0;
}
    .shopify_explorer_faq__item.shopify_explorer_faq__item--expandable {
    padding: 20px;
}
   
    h3.shopify_explorer_faq__question.h5.link {
    font-size: .8rem;
    font-weight: 700;
}
   h3.shopify_explorer_faq__question.h5.link p {
    text-transform: capitalize;
    color: #9a9a9a;
    margin: 10px 0px;
    font-weight: 100;
}
    .shopify_explorer_faq__answer.rte p {
    color: #9a9a9a;
}
    
    .lifestyle__text.center.half {
    width: 100%;
	    text-align: left;
    padding: 0px 0;
}
.lifestyle__text1 {
    padding: 0%;
}
#slider .flickity-viewport {
    min-height: auto !important;
}
section.homepage-gallery-product-three-section {
    padding: 30px 0;
}
.spr-badge {
    float: none;
}
.desktop-12.inpiredby.row {
    padding-top: 20px;
}
    .product-info1 li {
    padding: 0em 0;
    }
    div#shopify-section-product-recommendations {
    display: none;
}
    section.homepage-newsletter .section-header {
    text-align: left;
}
section.homepage-newsletter .section-title {
    text-align: left;
}
    div#shopify-section-drop-info {
    display: block;
}
    article#promo-images,
    .homepage-gallery-product-three-section 
    {
    display: none;
	}
    
    div#shopify-section-drop-info {
    margin: 0 15px;
}
    ul.carousel-nav{
    display: none;
}
  }
  div#thumbnails {
    width: 60%;
    margin: 0 auto;
    display: table;
    float: none;
}

</style>

<script type="text/javascript">
var _learnq = _learnq || [];
	document.getElementById("AddToCart").addEventListener('click',function (){
 		_learnq.push(['track', 'Added to Cart', item]);
	});</script>

<!--Start Stamped.io Auto Installation--><div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}" data-widget-language="{{shop.locale}}">{{ product.metafields.stamped.reviews }}</div>
<!--End Stamped.io Auto Installation-->{% include 'wiser_related' %}{% include 'wiser_recommended' %}{% include 'wiser_alsobought' %}{% include 'wiser_recentview' %}{% include 'wiser_topselling' %}{% include 'wiser_trending' %}{% include 'wiser_newarrivals' %}{% include 'wiser_featured' %}{% include 'wiser_recent_related' %}